<div class="line-under-nav">

</div>
<div class="container-price">
    <div class="price-address">
        Strona główna&nbsp;&nbsp;/&nbsp;&nbsp;
    </div>
    <div class="price-title-tab">
        Cennik
    </div>

</div>
<div class="price-svg-table">
    <div class="price-svg-table-box">
        <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_1</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="2.09352638 2.53597966 29.9152213 2.53597966 29.9152213 7.65233364 2.09352638 7.65233364"></polygon>
                <polygon id="path-3" points="0 1.15371684 57.5149396 1.15371684 57.5149396 30.8651776 0 30.8651776"></polygon>
                <polygon id="path-5" points="0 59.3321291 57.5149396 59.3321291 57.5149396 1.81718947 0 1.81718947"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/klienci_firma" transform="translate(-14.000000, -15.000000)">
                    <g id="Page-1" transform="translate(14.666667, 13.933333)">
                        <g id="Group-3" transform="translate(12.753889, 51.679795)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M28.5131053,2.64796252 C20.8505685,6.68839468 11.1448587,6.68839468 3.49507585,2.65816563 C3.03083428,2.41329095 2.44925692,2.5918454 2.20438224,3.05863776 C1.95695679,3.52798089 2.13806202,4.10445669 2.60485437,4.35188214 C6.70140365,6.51239101 11.3336163,7.65258872 15.9938875,7.65258872 C20.661811,7.65258872 25.2991252,6.50728945 29.4058776,4.34167903 C29.8726699,4.09425358 30.0512244,3.515227 29.8037989,3.04843464 C29.561475,2.58164229 28.9798977,2.39798629 28.5131053,2.64796252" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <g id="Group-6" transform="translate(0.000000, 0.664238)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-5"></g>
                            <path d="M54.2290276,16.5476613 C49.2371553,7.05111529 39.4778791,1.15371684 28.7595104,1.15371684 C17.9059506,1.15371684 8.09055728,7.15824797 3.14204819,16.8256961 C1.05806266,20.9018392 -0.000510155576,25.3044818 -0.000510155576,29.9086359 C-0.000510155576,30.4366469 0.428020528,30.8651776 0.95603155,30.8651776 C1.48404257,30.8651776 1.91257325,30.4366469 1.91257325,29.9086359 C1.91257325,25.6105752 2.89972429,21.4987212 4.84596782,17.6980622 C9.46542656,8.67341003 18.6278207,3.06680025 28.7595104,3.06680025 C38.7662121,3.06680025 47.8750399,8.57392969 52.5353111,17.4404336 C54.5427733,21.2563973 55.6038969,25.5672119 55.6038969,29.9086359 C55.6038969,30.4366469 56.0324275,30.8651776 56.5604386,30.8651776 C57.0884496,30.8651776 57.5169803,30.4366469 57.5169803,29.9086359 C57.5169803,25.2585678 56.3793333,20.6391091 54.2290276,16.5476613" id="Fill-4" fill="#2F3E4C" mask="url(#mask-4)"></path>
                        </g>
                        <mask id="mask-6" fill="white">
                            <use xlink:href="#path-5"></use>
                        </mask>
                        <g id="Clip-8"></g>
                        <path d="M15.0572418,46.1599121 L18.5135459,46.1599121 L18.5135459,30.5083391 L15.0572418,30.5083391 L15.0572418,46.1599121 Z M24.8828382,46.1599121 L20.4266293,46.1599121 L20.4266293,15.0914376 L40.8583601,15.0914376 L40.8583601,31.852599 C41.4960546,31.7735249 42.133749,31.7709741 42.7714435,31.8398451 L42.7714435,14.1348959 C42.7714435,13.6068848 42.3429128,13.1783541 41.8149018,13.1783541 L19.4700876,13.1783541 C18.9420765,13.1783541 18.5135459,13.6068848 18.5135459,14.1348959 L18.5135459,28.5952557 L14.1007001,28.5952557 C13.5726891,28.5952557 13.1441584,29.0237863 13.1441584,29.5517974 L13.1441584,46.1599121 L9.79243628,46.1599121 C9.26442526,46.1599121 8.83589458,46.5884428 8.83589458,47.1164538 C8.83589458,47.6444649 9.26442526,48.0729956 9.79243628,48.0729956 L14.1007001,48.0729956 L18.6028231,48.0729956 L19.4700876,48.0729956 L24.8828382,48.0729956 L39.205456,48.0729956 C39.2131084,48.0729956 39.2182099,48.0704448 39.2207607,48.0704448 L37.3127788,46.1599121 L24.8828382,46.1599121 Z" id="Fill-7" fill="#2F3E4C" mask="url(#mask-6)"></path>
                        <path d="M33.5001311,22.1042912 L24.4933344,22.1042912 C23.9653234,22.1042912 23.5367927,22.5328219 23.5367927,23.0608329 C23.5367927,23.5888439 23.9653234,24.0173746 24.4933344,24.0173746 L33.5001311,24.0173746 C34.0281422,24.0173746 34.4566728,23.5888439 34.4566728,23.0608329 C34.4566728,22.5328219 34.0281422,22.1042912 33.5001311,22.1042912" id="Fill-9" fill="#4487F4" mask="url(#mask-6)"></path>
                        <path d="M33.5001311,29.1686705 L24.4933344,29.1686705 C23.9653234,29.1686705 23.5367927,29.5972012 23.5367927,30.1252122 C23.5367927,30.6532233 23.9653234,31.0817539 24.4933344,31.0817539 L33.5001311,31.0817539 C34.0281422,31.0817539 34.4566728,30.6532233 34.4566728,30.1252122 C34.4566728,29.5972012 34.0281422,29.1686705 33.5001311,29.1686705" id="Fill-10" fill="#4487F4" mask="url(#mask-6)"></path>
                        <path d="M41.8898947,48.0303976 L37.6607049,43.8012078 C36.5332611,42.673764 35.9134221,41.1739066 35.9134221,39.5745689 C35.9134221,37.9752312 36.5332611,36.472823 37.6607049,35.3428284 C38.7881488,34.2179353 40.2905569,33.5980963 41.8898947,33.5980963 C43.4892324,33.5980963 44.9916406,34.2179353 46.1190844,35.3428284 C47.2465282,36.472823 47.8663672,37.9752312 47.8663672,39.5745689 C47.8663672,41.1739066 47.2465282,42.673764 46.1190844,43.8012078 L41.8898947,48.0303976 Z M42.7724638,31.8380596 C42.1347693,31.7717394 41.4945241,31.7742901 40.8593804,31.8508135 C39.1707654,32.0599773 37.5433692,32.7537888 36.3087927,33.9934669 C34.8216892,35.4805704 34.0003387,37.4625248 34.0003387,39.5745689 C34.0003387,41.686613 34.8216892,43.6660166 36.3087927,45.1556709 L37.3137991,46.1606774 L39.221781,48.07121 L41.2139385,50.0608168 C41.4001453,50.2470235 41.64502,50.3388515 41.8898947,50.3388515 C42.1347693,50.3388515 42.379644,50.2470235 42.5658508,50.0608168 L47.4709967,45.1556709 C48.9581002,43.6660166 49.7794506,41.686613 49.7794506,39.5745689 C49.7794506,37.4625248 48.9581002,35.4805704 47.4709967,33.9909161 C46.1956077,32.7180779 44.5120943,32.0242664 42.7724638,31.8380596 Z" id="Fill-12" fill="#4487F4" mask="url(#mask-6)"></path>
                        <path d="M41.8898947,37.942071 C41.1960831,37.942071 40.6298104,38.505793 40.6298104,39.1996045 C40.6298104,39.8959669 41.1960831,40.4596888 41.8898947,40.4596888 C42.586257,40.4596888 43.1499789,39.8959669 43.1499789,39.1996045 C43.1499789,38.505793 42.586257,37.942071 41.8898947,37.942071" id="Fill-13" fill="#4487F4" mask="url(#mask-6)"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Dojazd do klientów firmowych na terenie całego województwa mazowieckiego, głównie Warszawa</p>
    </div>
    <div class="price-svg-table-box">
        <svg width="58px" height="56px" viewBox="0 0 58 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_2</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0.000510144928 0.640231884 57.1413333 0.640231884 57.1413333 51.1794078 0.000510144928 51.1794078"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/klienci-indywidualni" transform="translate(-14.000000, -17.000000)">
                    <g id="Page-1" transform="translate(14.666667, 16.133333)">
                        <g id="Group-3" transform="translate(0.000000, 0.443826)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M28.5711768,2.55327536 C13.8713507,2.55327536 1.91355362,14.5110725 1.91355362,29.2108986 C1.91355362,36.4115942 4.81117681,43.2551884 9.92027826,48.2597101 C10.8283362,38.7684638 18.8478145,31.3228986 28.5711768,31.3228986 C38.2945391,31.3228986 46.3114667,38.7684638 47.2220754,48.2571594 C52.3311768,43.2551884 55.2288,36.4115942 55.2288,29.2108986 C55.2288,14.5110725 43.2710029,2.55327536 28.5711768,2.55327536 M46.4900174,51.1777391 C46.2196406,51.1777391 45.9518145,51.0655072 45.7630609,50.8435942 C45.7375536,50.8155362 45.7171478,50.7874783 45.696742,50.7568696 C45.5105391,50.5834203 45.3957565,50.336 45.3957565,50.0605217 C45.3957565,40.7835362 37.8481623,33.235942 28.5711768,33.235942 C19.2941913,33.235942 11.7465971,40.7835362 11.7465971,50.0605217 C11.7465971,50.336 11.6292638,50.585971 11.4405101,50.7594203 C11.4226551,50.790029 11.4022493,50.818087 11.3792928,50.8435942 C11.0349449,51.2466087 10.4329739,51.2925217 10.0299594,50.9507246 C3.65569855,45.510029 0.000510144928,37.5849275 0.000510144928,29.2108986 C0.000510144928,13.4550725 12.8179014,0.640231884 28.5711768,0.640231884 C44.3244522,0.640231884 57.1418435,13.4550725 57.1418435,29.2108986 C57.1418435,37.5849275 53.4866551,45.510029 47.1123942,50.9507246 C46.9312928,51.1037681 46.7093797,51.1777391 46.4900174,51.1777391" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M28.5699014,39.8155362 C26.9731478,39.8155362 25.470771,40.4353623 24.3408,41.5678841 C22.0119884,43.8966957 22.0119884,47.6896232 24.3408,50.0235362 L28.5699014,54.250087 L32.7990029,50.0209855 C33.9264232,48.8961159 34.5462493,47.3937391 34.5462493,45.7944348 C34.5462493,44.1925797 33.9264232,42.6927536 32.7990029,41.5678841 C31.6715826,40.4353623 30.1692058,39.8155362 28.5699014,39.8155362 M28.5699014,56.5584928 C28.3250319,56.5584928 28.0801623,56.4666667 27.8939594,56.2804638 L22.9889159,51.3754203 C19.912742,48.2941449 19.912742,43.2870725 22.9889159,40.2108986 C25.9681623,37.2291014 31.1716406,37.2316522 34.150887,40.2108986 C35.6405101,41.7005217 36.4592928,43.6824348 36.4592928,45.7944348 C36.4592928,47.9038841 35.6405101,49.8857971 34.150887,51.3728696 L29.2458435,56.2804638 C29.0596406,56.4666667 28.814771,56.5584928 28.5699014,56.5584928" id="Fill-6" fill="#4487F4"></path>
                        <path d="M29.8302145,45.4202435 C29.8302145,46.1140406 29.2665043,46.6777507 28.5701565,46.6777507 C27.8738087,46.6777507 27.3100986,46.1140406 27.3100986,45.4202435 C27.3100986,44.7238957 27.8738087,44.1601855 28.5701565,44.1601855 C29.2665043,44.1601855 29.8302145,44.7238957 29.8302145,45.4202435" id="Fill-8" fill="#4487F4"></path>
                        <path d="M28.5711768,25.417971 C27.2550029,25.417971 26.0179014,24.9052754 25.086887,23.9742609 C24.7119304,23.5993043 24.7119304,22.9947826 25.086887,22.6198261 C25.4618435,22.2474203 26.0663652,22.249971 26.438771,22.6223768 C27.5763942,23.7625507 29.5634087,23.7651014 30.7035826,22.6198261 C31.0759884,22.2474203 31.6830609,22.2474203 32.0554667,22.6198261 C32.4304232,22.9947826 32.4304232,23.6018551 32.0554667,23.9768116 C31.1244522,24.9052754 29.8873507,25.417971 28.5711768,25.417971" id="Fill-10" fill="#4487F4"></path>
                        <path d="M28.5711768,13.7055536 C24.706829,13.7055536 21.5617855,16.8480464 21.5617855,20.7123942 C21.5617855,24.5792928 24.706829,27.7217855 28.5711768,27.7217855 C32.4355246,27.7217855 35.5805681,24.5792928 35.5805681,20.7123942 C35.5805681,16.8480464 32.4355246,13.7055536 28.5711768,13.7055536 M28.5711768,29.634829 C23.650829,29.634829 19.648742,25.632742 19.648742,20.7123942 C19.648742,15.7920464 23.650829,11.7925101 28.5711768,11.7925101 C33.4915246,11.7925101 37.4936116,15.7920464 37.4936116,20.7123942 C37.4936116,25.632742 33.4915246,29.634829 28.5711768,29.634829" id="Fill-12" fill="#2F3E4C"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Dojazd do klientów indywidualnych w promieniu 20km od miasta Milanówka</p>
    </div>
    <div class="price-svg-table-box">
        <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_3</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="2.09291621 2.53818057 29.9145242 2.53818057 29.9145242 7.65217391 2.09291621 7.65217391"></polygon>
                <polygon id="path-3" points="0 1.15114203 57.5137391 1.15114203 57.5137391 30.8645333 0 30.8645333"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/Meble" transform="translate(-14.000000, -15.000000)">
                    <g id="Page-1" transform="translate(14.666667, 13.200000)">
                        <g id="Group-3" transform="translate(12.753623, 52.414330)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M28.5099594,2.64790725 C20.8577855,6.68825507 11.1599304,6.69590725 3.4950029,2.65555942 C3.02566957,2.41324058 2.4492058,2.58924058 2.20433623,3.05602319 C1.95691594,3.52535652 2.13546667,4.10182029 2.60224928,4.34924058 C6.70381449,6.50970435 11.3359304,7.65242899 15.9935536,7.65242899 C20.6613797,7.65242899 25.2985971,6.50715362 29.402713,4.34158841 C29.8720464,4.09416812 30.0505971,3.51515362 29.8031768,3.04837101 C29.5583072,2.58158841 28.9792928,2.40303768 28.5099594,2.64790725" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <g id="Group-6" transform="translate(0.000000, 1.399838)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-5"></g>
                            <path d="M54.2278957,16.5447652 C49.2335768,7.04841739 39.4745043,1.15114203 28.7563594,1.15114203 C17.9030261,1.15114203 8.08783768,7.15554783 3.14198261,16.8253449 C1.05804058,20.9014029 -0.000510144928,25.3039536 -0.000510144928,29.9080116 C-0.000510144928,30.4360116 0.428011594,30.8645333 0.956011594,30.8645333 C1.48401159,30.8645333 1.91253333,30.4360116 1.91253333,29.9080116 C1.91253333,25.6100406 2.89966377,21.5008232 4.84586667,17.6976928 C9.46267826,8.67067826 18.6248812,3.06418551 28.7563594,3.06418551 C38.7628522,3.06418551 47.8740406,8.5712 52.5342145,17.4375188 C54.5416348,21.2559536 55.6027362,25.5666783 55.6027362,29.9080116 C55.6027362,30.4360116 56.031258,30.8645333 56.559258,30.8645333 C57.087258,30.8645333 57.5157797,30.4360116 57.5157797,29.9080116 C57.5157797,25.2580406 56.3781565,20.6361275 54.2278957,16.5447652" id="Fill-4" fill="#2F3E4C" mask="url(#mask-4)"></path>
                        </g>
                        <path d="M28.769113,12.5643594 C29.2894609,13.7045333 30.1465043,14.421287 31.0469101,14.8396058 C30.1490551,15.2477217 29.2894609,15.949171 28.7614609,17.0765913 C28.241113,15.9517217 27.3993739,15.2477217 26.5117217,14.8294029 C27.4044754,14.4110841 28.2513159,13.6943304 28.769113,12.5643594 M27.3687652,19.7063884 C27.3687652,20.4307942 27.9222725,21.0276638 28.6313739,21.0990841 C28.7027942,21.1143884 28.7767652,21.1194899 28.8507362,21.1194899 C29.103258,21.1194899 29.353229,21.0378667 29.5674899,20.8822725 C29.9220406,20.6272 30.1337507,20.1986783 30.1337507,19.7395478 C30.1337507,16.431258 32.7482435,16.2629101 33.3043014,16.2629101 C34.077171,16.2629101 34.7046493,15.6201275 34.7046493,14.8294029 C34.7046493,14.0565333 34.077171,13.4290551 33.3043014,13.4290551 C32.7814029,13.4290551 30.1694609,13.2607072 30.1694609,9.95496812 C30.1694609,9.18209855 29.5419826,8.55462029 28.769113,8.55462029 C27.9962435,8.55462029 27.3687652,9.18209855 27.3687652,9.95496812 C27.3687652,13.2607072 24.7568232,13.4290551 24.0604754,13.439258 C23.3488232,13.5438377 22.8335768,14.1254029 22.8335768,14.8294029 C22.8335768,15.5997217 23.4610551,16.2297507 24.2339246,16.2297507 C24.9685333,16.2297507 27.3687652,16.4797217 27.3687652,19.7063884" id="Fill-7" fill="#4487F4"></path>
                        <path d="M19.895142,16.410342 C19.367142,16.410342 18.9386203,16.8388638 18.9386203,17.3668638 L18.9386203,17.8081391 L18.4973449,17.8081391 C17.9693449,17.8081391 17.5408232,18.2366609 17.5408232,18.7646609 C17.5408232,19.2926609 17.9693449,19.7211826 18.4973449,19.7211826 L18.9386203,19.7211826 L18.9386203,20.162458 C18.9386203,20.690458 19.367142,21.1189797 19.895142,21.1189797 C20.423142,21.1189797 20.8516638,20.690458 20.8516638,20.162458 L20.8516638,19.7211826 L21.2929391,19.7211826 C21.8209391,19.7211826 22.2494609,19.2926609 22.2494609,18.7646609 C22.2494609,18.2366609 21.8209391,17.8081391 21.2929391,17.8081391 L20.8516638,17.8081391 L20.8516638,17.3668638 C20.8516638,16.8388638 20.423142,16.410342 19.895142,16.410342" id="Fill-9" fill="#4487F4"></path>
                        <path d="M50.9435826,50.0031304 L6.57117681,50.0031304 L6.57117681,35.8644638 L7.93836522,35.8644638 L9.3030029,35.8644638 L9.3030029,40.9684638 L9.3030029,46.3147826 C9.3030029,46.8427826 9.73152464,47.2713043 10.2595246,47.2713043 L47.2552348,47.2713043 C47.7832348,47.2713043 48.2117565,46.8427826 48.2117565,46.3147826 L48.2117565,40.9684638 L48.2117565,35.8644638 L49.7421913,35.8644638 L50.9435826,35.8644638 L50.9435826,50.0031304 Z M8.89488696,27.2328116 L27.8773797,27.2328116 L27.8773797,40.011942 L11.2160464,40.011942 L11.2160464,34.907942 C11.2160464,34.379942 10.7875246,33.9514203 10.2595246,33.9514203 L8.89488696,33.9514203 L8.89488696,27.2328116 Z M11.2160464,41.9249855 L28.8339014,41.9249855 C28.8364522,41.9249855 28.8364522,41.9224348 28.8390029,41.9224348 C28.8415536,41.9224348 28.8441043,41.9249855 28.8466551,41.9249855 L46.298713,41.9249855 L46.298713,45.3582609 L11.2160464,45.3582609 L11.2160464,41.9249855 Z M29.8031768,27.2328116 L48.7856696,27.2328116 L48.7856696,33.9514203 L47.2552348,33.9514203 C46.7272348,33.9514203 46.298713,34.379942 46.298713,34.907942 L46.298713,40.011942 L29.8031768,40.011942 L29.8031768,27.2328116 Z M51.9001043,33.9514203 L50.698713,33.9514203 L50.698713,26.2762899 C50.698713,25.7482899 50.2701913,25.3197681 49.7421913,25.3197681 L28.8466551,25.3197681 C28.8441043,25.3197681 28.8415536,25.3223188 28.8390029,25.3223188 C28.8364522,25.3223188 28.8364522,25.3197681 28.8339014,25.3197681 L7.93836522,25.3197681 C7.41036522,25.3197681 6.98184348,25.7482899 6.98184348,26.2762899 L6.98184348,33.9514203 L5.61465507,33.9514203 C5.08665507,33.9514203 4.65813333,34.379942 4.65813333,34.907942 L4.65813333,50.9596522 C4.65813333,51.4876522 5.08665507,51.9161739 5.61465507,51.9161739 L9.64990145,51.9161739 L9.64990145,53.5103768 C9.64990145,54.0383768 10.0784232,54.4668986 10.6064232,54.4668986 C11.1344232,54.4668986 11.5629449,54.0383768 11.5629449,53.5103768 L11.5629449,51.9161739 L45.9518145,51.9161739 L45.9518145,53.5103768 C45.9518145,54.0383768 46.3803362,54.4668986 46.9083362,54.4668986 C47.4363362,54.4668986 47.864858,54.0383768 47.864858,53.5103768 L47.864858,51.9161739 L51.9001043,51.9161739 C52.4281043,51.9161739 52.8566261,51.4876522 52.8566261,50.9596522 L52.8566261,34.907942 C52.8566261,34.379942 52.4281043,33.9514203 51.9001043,33.9514203 Z" id="Fill-11" fill="#2F3E4C"></path>
                        <path d="M18.3843478,34.8832 C19.0806957,34.8832 19.6444058,34.3194899 19.6444058,33.623142 C19.6444058,32.9267942 19.0806957,32.3630841 18.3843478,32.3630841 C17.6905507,32.3630841 17.1242899,32.9267942 17.1242899,33.623142 C17.1242899,34.3194899 17.6905507,34.8832 18.3843478,34.8832" id="Fill-13" fill="#4487F4"></path>
                        <path d="M39.2959536,32.3623188 C38.5996058,32.3623188 38.0358957,32.9285797 38.0358957,33.6223768 C38.0358957,34.3212754 38.5996058,34.8824348 39.2959536,34.8824348 C39.9897507,34.8824348 40.5560116,34.3212754 40.5560116,33.6223768 C40.5560116,32.9285797 39.9897507,32.3623188 39.2959536,32.3623188" id="Fill-15" fill="#4487F4"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Pranie mebli tapicerowanych odbywa się w domu u klienta. Dojazd jest wliczony w cenę usługi.</p>
    </div>
    <div class="price-svg-table-box">
        <svg width="59px" height="58px" viewBox="0 0 59 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_4</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="1.89139932 2.01169735 55.9217643 2.01169735 55.9217643 56.1398 1.89139932 56.1398"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/Dywany" transform="translate(-14.000000, -15.000000)">
                    <g id="Page-1" transform="translate(14.666667, 13.200000)">
                        <g id="Group-3" transform="translate(2.444347, 0.433627)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M47.864953,10.0663087 C37.1196049,-0.676595172 19.6376371,-0.674150825 8.89228893,10.0663087 C5.62419737,13.3344002 3.21651585,17.3920158 1.92834513,21.8016173 C1.78657302,22.2880423 2.06522854,22.7964664 2.55165354,22.9406828 C3.03807854,23.0751219 3.54650266,22.8013551 3.68827477,22.3173744 C4.89089335,18.2010945 7.13724799,14.4123571 10.1877927,11.3642568 C20.2169473,1.33754653 36.5378503,1.33265783 46.5694493,11.3642568 C56.5986039,21.3934114 56.5986039,37.7167588 46.5694493,47.743469 C43.4357968,50.8795659 39.5321751,53.1601413 35.2839005,54.3383165 C34.7950311,54.4751999 34.5114869,54.9787353 34.645926,55.4676046 C34.7583659,55.8733662 35.1274623,56.1398 35.5283351,56.1398 C35.6089986,56.1398 35.6921064,56.1300226 35.7727698,56.1055791 C40.3265878,54.8394075 44.5064206,52.3975052 47.864953,49.0414171 C58.6103012,38.2960689 58.6103012,20.8116568 47.864953,10.0663087" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M33.2357824,52.4930791 C33.2797806,51.4762309 33.113565,50.4569383 32.7126922,49.5036431 C32.4731462,48.931666 32.1260489,48.4012427 31.7251761,47.8977073 C31.5662935,47.6997152 31.4269658,47.4919457 31.2460841,47.3086197 C31.2045302,47.2670658 31.1556433,47.2426224 31.1140894,47.2010685 C31.1018677,47.1888467 31.1067564,47.1717363 31.096979,47.1595146 L15.1476166,31.2101522 L13.8496685,29.9122041 L12.0946276,28.1571632 L19.9678684,20.281478 L42.7076259,43.0212356 L33.2357824,52.4930791 Z M22.7739784,55.7807255 C20.7965019,53.803249 20.7965019,50.5840443 22.7739784,48.6065678 C23.7639388,47.6166074 25.0618869,47.1228494 26.359835,47.1228494 C27.6602275,47.1228494 28.9581756,47.6166074 29.948136,48.6065678 C31.9256125,50.5840443 31.9256125,53.803249 29.948136,55.7807255 C27.9706595,57.7606463 24.7514549,57.7606463 22.7739784,55.7807255 Z M3.17520639,36.1819535 C3.14098554,36.1184004 3.10187599,36.0572918 3.05298905,36.0010718 C1.33461331,33.9991518 1.43972022,30.9779393 3.29253503,29.1251245 C5.14779419,27.274754 8.16656239,27.1696471 10.1684824,28.8855785 C10.222258,28.9320211 10.2833667,28.973575 10.3469197,29.0053515 L26.6604897,45.3164772 C24.7905644,45.2358137 22.8986401,45.8860099 21.4760303,47.3086197 C20.0534205,48.7312295 19.4056686,50.6255982 19.4863321,52.4930791 L3.17520639,36.1819535 Z M44.6557702,43.6592101 C44.6582146,43.6567657 44.6655476,43.6543214 44.6704363,43.6494327 L46.6625789,41.5350728 C47.0096761,41.1659764 46.9901214,40.5866662 46.6234693,40.2371247 C46.254373,39.8949161 45.6750628,39.9120266 45.3279656,40.2786786 L43.9835749,41.7037327 L21.2658165,18.9859743 L22.6713158,17.5829193 C23.0281905,17.2236003 23.0281905,16.6442901 22.6713158,16.2849712 C22.3144412,15.9280965 21.7326867,15.9256522 21.3733677,16.2849712 L19.3201165,18.3357781 L10.6573517,26.9985428 C7.96612596,25.2239471 4.31916065,25.5074913 1.99703127,27.8271764 C-0.459537183,30.2837448 -0.667306655,34.2411422 1.47149673,36.9617001 C1.51793931,37.0790287 1.58638102,37.18658 1.67682185,37.2770208 L21.3293695,56.9295684 C21.3391469,56.9417902 21.3587016,56.9369015 21.3709234,56.9466788 C21.4100329,56.9906771 21.4369207,57.0371197 21.4760303,57.0786736 C22.8228653,58.4255086 24.5925724,59.097704 26.359835,59.097704 C28.1295421,59.097704 29.8992491,58.4255086 31.2460841,57.0786736 L44.6508815,43.6714318 C44.6533259,43.6689875 44.6508815,43.6616544 44.6557702,43.6592101 Z" id="Fill-4" fill="#2F3E4C"></path>
                        <path d="M41.3781457,19.0382833 C41.9452342,20.4413383 42.9840815,21.2675275 44.0498167,21.7123986 C42.9865259,22.145048 41.9476785,22.9565711 41.3683683,24.337627 C40.8012799,22.9590154 39.7819873,22.145048 38.7309182,21.7001769 C39.7893203,21.2553058 40.815946,20.4315609 41.3781457,19.0382833 M35.1719494,21.7001769 C35.1719494,22.4652574 35.7952578,23.0885658 36.5603383,23.0885658 C37.3645284,23.0885658 39.9922011,23.364777 39.9922011,26.8821919 C39.9922011,27.6032742 40.5421791,28.1948061 41.2437066,28.2608035 C41.317037,28.2754696 41.3903675,28.2828026 41.4636979,28.2828026 C41.7130212,28.2828026 41.9574559,28.2045835 42.1701141,28.053034 C42.5196556,27.7988219 42.7298695,27.3735056 42.7298695,26.9188571 C42.7298695,23.308557 45.5873108,23.125231 46.1959531,23.125231 C46.9610336,23.125231 47.584342,22.4848122 47.584342,21.7001769 C47.584342,20.9350964 46.9610336,20.3117879 46.1959531,20.3117879 C45.623976,20.3117879 42.7665347,20.1284619 42.7665347,16.5206062 C42.7665347,15.7555257 42.1432262,15.1322172 41.3781457,15.1322172 C40.6130652,15.1322172 39.9922011,15.7555257 39.9922011,16.5206062 C39.9922011,20.1284619 37.1323155,20.3117879 36.3965671,20.3215653 C35.6852622,20.4217835 35.1719494,21.0010937 35.1719494,21.7001769" id="Fill-6" fill="#4487F4"></path>
                        <path d="M34.9734684,12.4859675 C34.4674887,12.4859675 34.0568384,12.8966177 34.0568384,13.4025975 L34.0568384,13.9721303 L33.48975,13.9721303 C32.9837702,13.9721303 32.57312,14.3827805 32.57312,14.8887603 C32.57312,15.3947401 32.9837702,15.8053903 33.48975,15.8053903 L34.0568384,15.8053903 L34.0568384,16.3749231 C34.0568384,16.8809029 34.4674887,17.2915531 34.9734684,17.2915531 C35.4794482,17.2915531 35.8900985,16.8809029 35.8900985,16.3749231 L35.8900985,15.8053903 L36.4596312,15.8053903 C36.965611,15.8053903 37.3762613,15.3947401 37.3762613,14.8887603 C37.3762613,14.3827805 36.965611,13.9721303 36.4596312,13.9721303 L35.8900985,13.9721303 L35.8900985,13.4025975 C35.8900985,12.8966177 35.4794482,12.4859675 34.9734684,12.4859675" id="Fill-8" fill="#4487F4"></path>
                        <path d="M37.5837863,43.3385118 C37.2269117,42.9767485 36.6451572,42.9791928 36.2882825,43.3360674 L31.7271316,47.8972184 C32.1280044,48.4007538 32.4726573,48.9311771 32.7122033,49.5031542 L37.5837863,44.6340155 C37.9406609,44.2771409 37.9406609,43.6953864 37.5837863,43.3385118" id="Fill-10" fill="#4487F4"></path>
                        <path d="M19.6523032,25.4045843 C19.2954286,25.0477097 18.7136741,25.0477097 18.3567994,25.4045843 L13.8494241,29.9119597 L15.1473722,31.2099078 L19.6523032,26.7025324 C20.0091778,26.3456578 20.0091778,25.761459 19.6523032,25.4045843" id="Fill-12" fill="#4487F4"></path>
                        <path d="M27.830354,50.7241054 C28.1872286,51.08098 28.7689832,51.08098 29.1258578,50.7241054 C29.4851767,50.3672308 29.4851767,49.7830319 29.1258578,49.4261573 C27.6030298,47.9033293 25.1220179,47.9033293 23.5943012,49.4261573 C22.0690288,50.9514296 22.0690288,53.4324416 23.5943012,54.9577139 C24.3569373,55.7203501 25.3591195,56.1016682 26.3588573,56.1016682 C27.3634838,56.1016682 28.3632216,55.7203501 29.1258578,54.9577139 C29.4851767,54.6008393 29.4851767,54.0190848 29.1258578,53.6597658 C28.7689832,53.3028912 28.1872286,53.3028912 27.830354,53.6597658 C27.0188309,54.4688446 25.7037724,54.4737333 24.8898049,53.6597658 C24.0807262,52.850687 24.0807262,51.5331842 24.8898049,50.7241054 C25.701328,49.9101379 27.0188309,49.9125823 27.830354,50.7241054" id="Fill-14" fill="#2F3E4C"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Pranie dywanów odbywa się u nas w pralni. Odbieramy dywany od Państwa i odwozimy czyste, suche i pachnące</p>
    </div>
    <div class="price-svg-table-box">
        <svg width="58px" height="61px" viewBox="0 0 58 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_5</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0.000510165328 0.799429069 57.1436184 0.799429069 57.1436184 51.3415081 0.000510165328 51.3415081"></polygon>
                <polygon id="path-3" points="0.886922423 0.745224003 25.6477966 0.745224003 25.6477966 25.5082664 0.886922423 25.5082664"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/Koszt" transform="translate(-14.000000, -15.000000)">
                    <g id="Page-1" transform="translate(14.666667, 12.466667)">
                        <path d="M28.5723194,29.1898745 C24.707817,29.1898745 21.5626478,26.0472561 21.5626478,22.1802029 C21.5626478,18.3131497 24.707817,15.1705313 28.5723194,15.1705313 C32.4368217,15.1705313 35.581991,18.3131497 35.581991,22.1802029 C35.581991,26.0472561 32.4368217,29.1898745 28.5723194,29.1898745 M28.5723194,13.2574113 C23.6517748,13.2574113 19.6495278,17.2596583 19.6495278,22.1802029 C19.6495278,27.1007475 23.6517748,31.1029945 28.5723194,31.1029945 C33.4928639,31.1029945 37.4951109,27.1007475 37.4951109,22.1802029 C37.4951109,17.2596583 33.4928639,13.2574113 28.5723194,13.2574113" id="Fill-1" fill="#4487F4"></path>
                        <g id="Group-5" transform="translate(0.000000, 1.751142)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-4"></g>
                            <path d="M47.2239637,48.4182608 C46.3133186,38.9291857 38.2960705,31.4833227 28.5723194,31.4833227 C18.8485682,31.4833227 10.8313201,38.9291857 9.92067497,48.4182608 C4.81136921,43.4160897 1.91363015,36.5722219 1.91363015,29.3712383 C1.91363015,14.6733752 13.8719054,2.71254905 28.5723194,2.71254905 C43.2727333,2.71254905 55.2310086,14.6733752 55.2310086,29.3712383 C55.2310086,36.5722219 52.3332695,43.4160897 47.2239637,48.4182608 M28.5723194,0.799429069 C12.818414,0.799429069 0.000510165328,13.6147821 0.000510165328,29.3712383 C0.000510165328,37.7456021 3.65584474,45.6710205 10.0303605,51.1119337 C10.2114692,51.2649833 10.4333911,51.3415081 10.6527622,51.3415081 C10.9231498,51.3415081 11.1909866,51.2267209 11.3797478,51.004799 C11.4052561,50.9767399 11.4256627,50.9486808 11.4460693,50.9180709 C11.6322796,50.7446147 11.7470668,50.4971845 11.7470668,50.2216952 C11.7470668,40.9443387 19.2949629,33.3964427 28.5723194,33.3964427 C37.8496758,33.3964427 45.3975719,40.9443387 45.3975719,50.2216952 C45.3975719,50.4971845 45.5123591,50.7446147 45.6985694,50.9180709 C45.718976,50.9486808 45.7393826,50.9767399 45.7648909,51.004799 C46.1092525,51.4078296 46.7112476,51.4537445 47.1142782,51.1119337 C53.488794,45.6710205 57.1441286,37.7456021 57.1441286,29.3712383 C57.1441286,13.6147821 44.3262247,0.799429069 28.5723194,0.799429069" id="Fill-3" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <g id="Group-8" transform="translate(15.304960, 37.462715)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-7"></g>
                            <path d="M21.9835341,11.3266906 C21.720799,10.8675418 21.5320378,10.3828848 21.5065296,9.86506695 C21.4810213,9.35235079 21.6238676,8.893202 21.8406879,8.47486643 L23.3380231,9.97220167 L21.9835341,11.3266906 Z M10.111987,23.1982378 L8.89524266,21.9840443 C9.35439145,21.7213092 9.84159934,21.532548 10.3568663,21.5070397 C10.7981593,21.473879 11.2062916,21.5657087 11.5812631,21.7289616 L10.111987,23.1982378 Z M4.55118489,14.9284578 C4.81392003,15.3876066 5.00268121,15.8722637 5.02818947,16.3900815 C5.05369774,16.9053485 4.91085145,17.3619464 4.69403118,17.780282 L3.19669595,16.2829468 L4.55118489,14.9284578 Z M16.4227321,3.05691065 L17.6369256,4.27110413 C17.1803276,4.53383927 16.6931197,4.72260044 16.1778527,4.74810871 C15.7314581,4.75065953 15.3309783,4.66648225 14.9611084,4.51853431 L16.4227321,3.05691065 Z M13.0071752,20.3030496 C12.2087665,19.7852317 11.2573081,19.5326999 10.2624857,19.5964706 C9.26766335,19.6474871 8.31110336,19.9892979 7.4820847,20.5708864 L6.10718914,19.1959908 C6.69132844,18.369523 6.99232599,17.3695989 6.93875863,16.2957009 C6.89029292,15.3034293 6.54593132,14.3417677 5.96434285,13.5152999 L13.5326455,5.94699723 C14.2596311,6.4137985 15.1116072,6.66633034 16.0197015,6.66633034 C16.1013279,6.66633034 16.188056,6.66377951 16.2722333,6.65867786 C17.2645049,6.60766133 18.2236157,6.26585056 19.0500835,5.68426208 L20.4275299,7.05915764 C19.8433906,7.88562547 19.5423931,8.88554952 19.5959604,9.95944753 C19.6444261,10.9542699 19.9887877,11.9133807 20.5703762,12.7398486 L13.0071752,20.3030496 Z M17.0987011,1.02645264 C16.7262804,0.651481124 16.1217345,0.651481124 15.746763,1.02645264 L1.16623794,15.6069777 C0.79381725,15.9793984 0.79381725,16.589046 1.16623794,16.9614667 L9.43601791,25.2286958 C9.62222825,25.4149061 9.86710761,25.5092867 10.111987,25.5092867 C10.3568663,25.5092867 10.6017457,25.4149061 10.787956,25.2286958 L25.3684811,10.6481707 C25.7409018,10.27575 25.7409018,9.6686533 25.3684811,9.29368178 L17.0987011,1.02645264 Z" id="Fill-6" fill="#2F3E4C" mask="url(#mask-4)"></path>
                        </g>
                        <path d="M29.4454673,51.4649681 C28.9761152,51.9292186 28.1675032,51.9317694 27.6981511,51.4624173 C27.4660258,51.2302921 27.3359337,50.921642 27.3359337,50.5900346 C27.3359337,50.2584271 27.4660258,49.9497771 27.6981511,49.7176519 C27.9328271,49.4855266 28.2414771,49.3554345 28.5730846,49.3554345 C28.9021412,49.3554345 29.2107913,49.4855266 29.4454673,49.715101 C29.4454673,49.7176519 29.4454673,49.7176519 29.4454673,49.7176519 C29.6801434,49.9497771 29.8076847,50.2609779 29.8076847,50.5900346 C29.8076847,50.9190912 29.6801434,51.2302921 29.4454673,51.4649681 M28.5730846,47.4423145 C27.7313118,47.4423145 26.9405556,47.7713711 26.3462129,48.3631629 C25.7518703,48.9600564 25.4228137,49.7482618 25.4228137,50.5900346 C25.4228137,51.4318074 25.7518703,52.2225636 26.3462129,52.8169062 C26.9405556,53.4112488 27.7313118,53.7403055 28.5730846,53.7403055 C29.4123066,53.7403055 30.2030628,53.4112488 30.7974054,52.8169062 C31.3942989,52.2225636 31.7208047,51.4318074 31.7208047,50.5900346 C31.7208047,49.7482618 31.3942989,48.9600564 30.7974054,48.3631629 C30.2030628,47.7688203 29.4123066,47.4423145 28.5730846,47.4423145" id="Fill-9" fill="#4487F4"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Minimalny koszt zamówienia dla klienta indywidualnego – 100 zł</p>
    </div>
    <div class="price-svg-table-box">
        <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>ico_cennik_6</title>
            <desc>Created with Sketch.</desc>
            <defs>
                <polygon id="path-1" points="0 1.15292754 57.5134841 1.15292754 57.5134841 58.6666667 0 58.6666667"></polygon>
                <polygon id="path-3" points="0 60.0642087 57.5137391 60.0642087 57.5137391 2.55046957 0 2.55046957"></polygon>
            </defs>
            <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="assets/ico/indywidualna_wycena" transform="translate(-14.000000, -15.000000)">
                    <g id="Page-1" transform="translate(14.666667, 13.200000)">
                        <g id="Group-3" transform="translate(0.000000, 1.397542)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M28.7566145,56.7536232 C13.9547594,56.7536232 1.91278841,44.7091014 1.91278841,29.9097971 C1.91278841,15.107942 13.9547594,3.06597101 28.7566145,3.06597101 C43.5584696,3.06597101 55.6004406,15.107942 55.6004406,29.9097971 C55.6004406,44.7091014 43.5584696,56.7536232 28.7566145,56.7536232 M28.7566145,1.15292754 C12.9013101,1.15292754 -0.000255072464,14.0544928 -0.000255072464,29.9097971 C-0.000255072464,45.7651014 12.9013101,58.6666667 28.7566145,58.6666667 C44.6144696,58.6666667 57.5134841,45.7651014 57.5134841,29.9097971 C57.5134841,14.0544928 44.6144696,1.15292754 28.7566145,1.15292754" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                        </g>
                        <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                        <g id="Clip-5"></g>
                        <path d="M16.8730435,48.1829333 L40.6432464,48.1829333 L40.6432464,14.4317449 L16.8730435,14.4317449 L16.8730435,48.1829333 Z M41.5997681,12.5161507 L15.913971,12.5161507 C15.385971,12.5161507 14.9574493,12.9446725 14.9574493,13.4726725 L14.9574493,49.1394551 C14.9574493,49.6674551 15.385971,50.0959768 15.913971,50.0959768 L41.5997681,50.0959768 C42.1277681,50.0959768 42.5562899,49.6674551 42.5562899,49.1394551 L42.5562899,13.4726725 C42.5562899,12.9446725 42.1277681,12.5161507 41.5997681,12.5161507 Z" id="Fill-4" fill="#2F3E4C" mask="url(#mask-4)"></path>
                        <path d="M32.2717681,33.4014841 L35.4831304,33.4014841 L35.4831304,30.2538899 L32.2717681,30.2538899 L32.2717681,33.4014841 Z M32.2717681,38.459571 L35.4831304,38.459571 L35.4831304,35.3145275 L32.2717681,35.3145275 L32.2717681,38.459571 Z M32.2717681,43.5380638 L35.4831304,43.5380638 L35.4831304,40.3751652 L32.2717681,40.3751652 L32.2717681,43.5380638 Z M27.1575652,43.5380638 L30.3536232,43.5380638 L30.3536232,40.3751652 L27.1575652,40.3751652 L27.1575652,43.5380638 Z M22.0331594,43.535513 L25.2292174,43.535513 L25.2292174,40.3726145 L22.0331594,40.3726145 L22.0331594,43.535513 Z M22.0331594,38.459571 L25.2292174,38.459571 L25.2292174,35.3145275 L22.0331594,35.3145275 L22.0331594,38.459571 Z M22.0331594,30.2513391 L26.1857391,30.2513391 L26.1984928,30.2513391 L30.3536232,30.2513391 L30.3536232,33.4014841 L27.1550145,33.4014841 L25.2292174,33.4014841 L22.0331594,33.4014841 L22.0331594,30.2513391 Z M27.1550145,38.459571 L30.3510725,38.459571 L30.3510725,35.3145275 L27.1550145,35.3145275 L27.1550145,38.459571 Z M30.3587246,28.3382957 L26.1984928,28.3382957 L26.1857391,28.3382957 L20.1201159,28.3382957 L20.1201159,33.4014841 L20.1201159,34.3758609 L20.1201159,38.459571 L20.1201159,39.4339478 L20.1201159,45.4511072 L25.2292174,45.4511072 L27.1550145,45.4511072 L30.3587246,45.4511072 L32.2666667,45.4511072 L37.3961739,45.4511072 L37.3961739,39.4339478 L37.3961739,38.459571 L37.3961739,34.3758609 L37.3961739,33.4014841 L37.3961739,28.3382957 L32.2666667,28.3382957 L30.3587246,28.3382957 Z" id="Fill-6" fill="#2F3E4C" mask="url(#mask-4)"></path>
                        <path d="M22.0306087,22.8389333 L35.4831304,22.8389333 L35.4831304,19.5459478 L22.0306087,19.5459478 L22.0306087,22.8389333 Z M20.1175652,24.7519768 L37.3961739,24.7519768 L37.3961739,17.6329043 L20.1175652,17.6329043 L20.1175652,24.7519768 Z" id="Fill-7" fill="#4487F4" mask="url(#mask-4)"></path>
                        <path d="M10.6362667,30.3497971 L9.46803478,30.3497971 L9.46803478,29.1815652 C9.46803478,28.6535652 9.03951304,28.2250435 8.51151304,28.2250435 C7.98096232,28.2250435 7.5549913,28.6535652 7.5549913,29.1815652 L7.5549913,30.3497971 L6.3842087,30.3497971 C5.8562087,30.3497971 5.42768696,30.7783188 5.42768696,31.3063188 C5.42768696,31.8343188 5.8562087,32.2628406 6.3842087,32.2628406 L7.5549913,32.2628406 L7.5549913,33.4336232 C7.5549913,33.9616232 7.98096232,34.3901449 8.51151304,34.3901449 C9.03951304,34.3901449 9.46803478,33.9616232 9.46803478,33.4336232 L9.46803478,32.2628406 L10.6362667,32.2628406 C11.1642667,32.2628406 11.5927884,31.8343188 11.5927884,31.3063188 C11.5927884,30.7783188 11.1642667,30.3497971 10.6362667,30.3497971" id="Fill-8" fill="#4487F4" mask="url(#mask-4)"></path>
                        <path d="M51.1290203,30.3497971 L46.8769623,30.3497971 C46.3489623,30.3497971 45.9204406,30.7783188 45.9204406,31.3063188 C45.9204406,31.8343188 46.3489623,32.2628406 46.8769623,32.2628406 L51.1290203,32.2628406 C51.6570203,32.2628406 52.085542,31.8343188 52.085542,31.3063188 C52.085542,30.7783188 51.6570203,30.3497971 51.1290203,30.3497971" id="Fill-9" fill="#4487F4" mask="url(#mask-4)"></path>
                    </g>
                </g>
            </g>
        </svg>
        <p class="box-text">Indywidualna wycena oraz możliwość negocjacji ceny przy dużych zleceniach.</p>
    </div>
</div>

<p class="price-of">Pranie wykładzin</p>
<div class="price-table">
    <div class="row">
        <div class="table-box blue size-1-2"><p class="price-main-text">Łączna powierzchnia [m2]<p></div>
        <div class="table-box blue size-1-2"><p class="price-main-text">Cena [netto]</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Poniżej 30 m2</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">250 zł*</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Powyżej 30 m2</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">Indywidualna wycena</p></div>
    </div>

</div>
<div class="star">* – minimalny koszt zamówienia</div>



<p class="price-of">Polimeryzacja podłóg</p>
<div class="price-table">
    <div class="row">
        <div class="table-box blue size-1-3"><p class="price-main-text">Typ usługi<p></div>
        <div class="table-box blue size-1-3"><p class="price-main-text">Łączna powierzchnia [m2]</p></div>
        <div class="table-box blue size-1-3"><p class="price-main-text">Cena [netto]</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Poniżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">400 zł*</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Powyżej 50 m2/p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Indywidualna wycena, ceny zaczynają się od 5 zł/m2</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie + zabezpieczanie </p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Poniżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">500 zł*</p></div>
    </div>

    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie + zabezpieczanie </p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Powyżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Indywidualna wycena, ceny zaczynają się od 7 zł/m2</p></div>
    </div>


</div>

<div class="star">* – minimalny koszt zamówienia</div>

<p class="price-of">Doczyszczanie i impregnacja podłóg twardych</p>
<div class="price-table">
    <div class="row">
        <div class="table-box blue size-1-3"><p class="price-main-text">Typ usługi<p></div>
        <div class="table-box blue size-1-3"><p class="price-main-text">Łączna powierzchnia [m2]</p></div>
        <div class="table-box blue size-1-3"><p class="price-main-text">Cena [netto]</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Poniżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">250zł*</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Powyżej 50 m2/p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Indywidualna wycena, ceny zaczynają się od 4 zł/m2</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie + zabezpieczanie </p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Poniżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">400 zł*</p></div>
    </div>

    <div class="row">
        <div class="table-box size-1-3"><p class="price-small-text">Doczyszczanie + zabezpieczanie </p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Powyżej 50 m2</p></div>
        <div class="table-box size-1-3"><p class="price-small-text">Indywidualna wycena, ceny zaczynają się od 6 zł/m2</p></div>
    </div>


</div>
<div class="star">* – minimalny koszt zamówie   nia</div>


<p class="price-of">Pranie dywanów, wykładzin, tapicerki meblowej i samochodowej</p>

<div class="blue-title">Dywany</div>
<div class="price-table">

    <div class="row">
        <div class="table-box blue size-1-2"><p class="price-main-text">Rodzaj dywanu<p></div>
        <div class="table-box blue size-1-2"><p class="price-main-text">Cena</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Dywan syntetyczny, wełniany, shaggy, wykładzina</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">10 zł/m2</p></div>
    </div>

</div>


<div class="blue-title">Tapicerka meblowa materiałowa i skórzana</div>
<div class="price-table">

    <div class="row">
        <div class="table-box blue-high size-1-2"><p class="price-main-text">Rodzaj mebla<p></div>
        <div class="table-box blue-high size-1-2">
            <div class="row">
                <div class="table-box blue size-1-1"><p class="price-main-text-center">Cena<p></div>
            </div>
            <div class="row">
                <div class="table-box size-1-2"><p class="price-small-text">Pranie tapicerki materiałowej</p></div>
                <div class="table-box size-1-2"><p class="price-small-text">Pranie + impregnacja tapicerki skórzanej</p></div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Krzesło – siedzenie bez oparcia</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">10 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">10 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Krzesło z oparciem</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">15 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">30 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Pufa/podnóżek</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">30 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">40 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Fotel</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">40 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">60 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Kanapa 2 osobowa</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">60 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">100 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Kanapa 3 osobowa</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">80 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">120 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Narożnik</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">90 - 120 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">140 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Materac 1 os.</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">40 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text"></p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Materac 2 os.</p></div>
        <div class="table-box size-1-4"><p class="price-small-text">80 zł</p></div>
        <div class="table-box size-1-4"><p class="price-small-text"></p></div>
    </div>

</div>

<div class="blue-title">Tapicerka samochodowa materiałowa i skórzana</div>
<div class="price-table">
    <div class="row">
        <div class="table-box blue size-1-4"><p class="price-main-text-center"><p></div>
        <div class="table-box blue size-1-4">
            <div class="table-box-green white size-1-1">
                <p class="price-main-text-center2">Pakiet siedzenia<p>
            </div>
        </div>
        <div class="table-box blue size-1-4">
            <div class="table-box-blue white size-1-1">
                <p class="price-main-text-center2">Pakiet mini<p>
            </div>
        </div>
        <div class="table-box blue size-1-4">
            <div class="table-box-red white size-1-1">
                <p class="price-main-text-center2">Pakiet maxi<p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-box white size-1-4"><p class="price-main-text-center">Rodzaj auta <p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">2 i 5 osobowe / dostawcze</p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">7 osobowe</p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">2 i 5 osobowe</p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">7 osobowe </p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">2 i 5 osobowe / dostawcze</p></div>
        <div class="table-box white size-1-8"><p class="price-small-text">7 osobowe </p></div>
     
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Cena <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">100 zł</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">130 zł</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">150 zł</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">180 zł </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">180 zł</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">200 zł </p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Fotele + kanapa + podłokietniki <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Boczki <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Podsufitka <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Boczki <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Odkurzanie <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Dywaniki <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Podłoga <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Bagażnik <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+ </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Plastiki <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"> </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>
    <div class="row">
        <div class="table-box  size-1-4"><p class="price-main-text-center">Szyby <p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"></p></div>
        <div class="table-box  size-1-8"><p class="price-small-text"> </p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
        <div class="table-box  size-1-8"><p class="price-small-text">+</p></div>
    </div>

</div>


<div class="gray-title">Legenda</div>
<div class="price-table">
    <div class="row">
        <div class="table-box blue-small size-1-2"><p class="price-main-text"> „+”<p></div>
        <div class="table-box  size-1-2"><p class="price-small-text">wchodzi w pakiet usługi</p></div>
    </div>
    <div class="row">
        <div class="table-box blue-small size-1-2"><p class="price-main-text">‘Puste pole’ lub „–”</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">nie wchodzi w pakiet usługi / brak elementu</p></div>
    </div>
    <div class="row">
        <div class="table-box blue-small size-1-2"><p class="price-main-text">„*”</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">Klient wykonuje daną czynność na przedmiocie usługi bezpośrednio przed zaplanowaną usługą</p></div>
    </div>

</div>

<p class="price-of">Impregnacja powierzchni tekstylnych</p>

<div class="price-table">
    <div class="row">
        <div class="table-box blue size-1-2"><p class="price-main-text">Rodzaj powierzchni<p></div>
        <div class="table-box blue size-1-2"><p class="price-main-text">Cena</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Wykładzina</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">4 zł / m2</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Dywan</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">6 zł / m2</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Fotele i kanapa – auto</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">70 zł – komplet </p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Krzesło siedzenie bez oparcia </p></div>
        <div class="table-box size-1-2"><p class="price-small-text">15 zł / sztuka</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Krzesło z oparciem </p></div>
        <div class="table-box size-1-2"><p class="price-small-text">20 zł / sztuka</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Pufa/podnóżek </p></div>
        <div class="table-box size-1-2"><p class="price-small-text">20 zł / sztuka</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Fotel</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">40 zł</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Kanapa 2 osobowa</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">60 zł / sztuka</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Kanapa 3 osobowa</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">80 zł / sztuka</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Narożnik</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">90– 120 zł </p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Materac 1 os.</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">20 zł / jedna strona</p></div>
    </div>
    <div class="row">
        <div class="table-box size-1-2"><p class="price-small-text">Materac 2 os.</p></div>
        <div class="table-box size-1-2"><p class="price-small-text">40 zł / jedna strona</p></div>
    </div>
</div>