<div class="container">
    <div class="slider">
        <div class="slider-leftside">
            <svg width="11px" height="21px" viewBox="0 0 11 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                <title>ARROW</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="HAPPY_CLEAN_Usluga" transform="translate(-348.000000, -1421.000000)" fill="#4487F4">
                        <g id="Galeria" transform="translate(347.000000, 1192.000000)">
                            <g id="ARROWS" transform="translate(0.000000, 229.000000)">
                                <g id="assets/ico/arrow/kolor/blue" transform="translate(6.000000, 10.555556) rotate(90.000000) translate(-6.000000, -10.555556) translate(-4.000000, 5.000000)">
                                    <g id="assets/ico/arrow/rozwiń">
                                        <path d="M9.78694444,10.239449 C9.64472222,10.239449 9.5025,10.185549 9.39361111,10.078849 L0.1625,0.938949 C-0.0541666667,0.724449 -0.0541666667,0.375749 0.1625,0.161249 C0.379166667,-0.053251 0.731388889,-0.053251 0.948055556,0.161249 L9.78694444,8.911749 L18.6258333,0.161249 C18.8425,-0.053251 19.1947222,-0.053251 19.4113889,0.161249 C19.6280556,0.375749 19.6280556,0.724449 19.4113889,0.938949 L10.1802778,10.078849 C10.0713889,10.185549 9.92916667,10.239449 9.78694444,10.239449" id="Page-1"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="slider-center">
            <div class="slider-center-text-small">
                Profesjonalna firma sprzątająca
            </div>
            <div class="slider-center-text-big">
                Polimeryzacja podłóg typu:
            </div>
            <div class="slider-center-text-big-type">
                PCV i linoleum
            </div>
            <button class="slider-center-button">
                Dowiedz się więcej
            </button>
            <div class="slider-center-check">
                @* active *@
                <svg id="slider1-active" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider1-noactive" class="non-visible" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <svg id="slider2-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider2-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <svg id="slider3-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider3-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <svg id="slider4-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider4-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <svg id="slider5-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider5-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>


                <svg id="slider6-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider6-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>


                <svg id="slider7-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider7-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>


                <svg id="slider8-active" class="non-visible" width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/pagination/1" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/active">
                                    <g id="OVAL">
                                        <rect x="0" y="0" width="12" height="12" rx="6"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <svg id="slider8-noactive" width="7px" height="6px" viewBox="0 0 7 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/pagination/no_active</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.6">
                        <g id="symbols/pagination/1" transform="translate(-23.000000, -3.000000)" fill="#FFFFFF">
                            <g id="PAGINATION">
                                <g id="assets/ico/pagination/no_active" transform="translate(23.000000, 3.000000)">
                                    <g id="OVAL">
                                        <rect x="0.857142857" y="0" width="6" height="6" rx="3"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="slider-rightside">
            <svg width="11px" height="21px" viewBox="0 0 11 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                <title>ARROW</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="HAPPY_CLEAN_Usluga" transform="translate(-348.000000, -1421.000000)" fill="#4487F4">
                        <g id="Galeria" transform="translate(347.000000, 1192.000000)">
                            <g id="ARROWS" transform="translate(0.000000, 229.000000)">
                                <g id="assets/ico/arrow/kolor/blue" transform="translate(6.000000, 10.555556) rotate(90.000000) translate(-6.000000, -10.555556) translate(-4.000000, 5.000000)">
                                    <g id="assets/ico/arrow/rozwiń">
                                        <path d="M9.78694444,10.239449 C9.64472222,10.239449 9.5025,10.185549 9.39361111,10.078849 L0.1625,0.938949 C-0.0541666667,0.724449 -0.0541666667,0.375749 0.1625,0.161249 C0.379166667,-0.053251 0.731388889,-0.053251 0.948055556,0.161249 L9.78694444,8.911749 L18.6258333,0.161249 C18.8425,-0.053251 19.1947222,-0.053251 19.4113889,0.161249 C19.6280556,0.375749 19.6280556,0.724449 19.4113889,0.938949 L10.1802778,10.078849 C10.0713889,10.185549 9.92916667,10.239449 9.78694444,10.239449" id="Page-1"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

    </div>
    <div class="our-services-title">
        Nasze usługi
    </div>
    <div class="our-services">
        <div class="service">
            <div class="service-image-left">

            </div>
            <div class="service-description">
                Pranie dywanów, tapicerki meblowej i samochodowej
            </div>
            <div class="service-more">
                Dowiedz się więcej
            </div>
        </div>
        <div class="service">
            <div class="service-image-right">

            </div>
            <div class="service-description">
                Pranie wykładzin biurowych
            </div>
            <div class="service-more">
                Dowiedz się więcej
            </div>
        </div>
        <div class="service">
            <div class="service-image-left">

            </div>
            <div class="service-description">
                Polimeryzacja podłóg typu: PCV i linoleum
            </div>
            <div class="service-more">
                Dowiedz się więcej
            </div>
        </div>
        <div class="service">
            <div class="service-image-right">

            </div>
            <div class="service-description">
                Doczyszczanie podłóg twardych – gres, płytki
            </div>
            <div class="service-more">
                Dowiedz się więcej
            </div>
        </div>
    </div>
    <div class="range">
        <div class="range-box">
            <div class="range-box-img">
                <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_2</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="ico_2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M24.1899,3.5413 C29.0139,3.5413 32.9369,7.5803 32.9369,12.5443 C32.9369,17.5093 29.0139,21.5453 24.1899,21.5453 C19.3709,21.5453 15.4469,17.5093 15.4469,12.5443 C15.4469,7.5803 19.3709,3.5413 24.1899,3.5413 M24.1899,24.0833 C18.0359,24.0833 13.0289,18.9093 13.0289,12.5443 C13.0289,6.1773 18.0359,0.9993 24.1899,0.9993 C30.3479,0.9993 35.3549,6.1773 35.3549,12.5443 C35.3549,18.9093 30.3479,24.0833 24.1899,24.0833 Z M6.6821,47.4871 C6.5011,47.4871 6.3381,47.4401 6.1831,47.3691 L7.1801,47.3691 C7.0261,47.4401 6.8621,47.4871 6.6821,47.4871 Z M24.0464,18.3704 C25.6024,18.3704 27.1614,17.7484 28.3484,16.5044 C28.7634,16.0724 28.7634,15.3694 28.3484,14.9294 C27.9344,14.4964 27.2614,14.4964 26.8504,14.9294 C25.3034,16.5524 22.7914,16.5524 21.2414,14.9294 C20.8304,14.4964 20.1584,14.4964 19.7434,14.9294 C19.3314,15.3694 19.3314,16.0724 19.7434,16.5044 C20.9304,17.7484 22.4894,18.3704 24.0464,18.3704 Z M48.8297,29.5736 C50.7227,31.5576 51.7677,34.2076 51.7677,37.0296 C51.7677,39.8446 50.7227,42.4946 48.8297,44.4856 L42.6267,50.9936 C42.3787,51.2546 42.0537,51.3866 41.7257,51.3866 C41.4007,51.3866 41.0767,51.2546 40.8287,50.9936 L37.3717,47.3676 L37.3717,47.3686 L7.1797,47.3686 L6.1827,47.3686 L2.2507,47.3686 C1.5587,47.3686 1.0007,46.7976 1.0007,46.0976 C1.0007,45.3986 1.5587,44.8266 2.2507,44.8266 L5.5407,44.8266 L8.0257,44.8266 L34.9517,44.8266 L34.9507,44.8256 L34.6257,44.4856 C31.3747,41.0686 30.8637,35.8906 33.0147,31.8716 C33.0147,31.8716 33.0147,31.8706 33.0157,31.8696 C30.4667,30.1406 27.4467,29.1076 24.1897,29.1076 C15.6557,29.1076 8.7137,36.0516 8.0257,44.8256 L5.5397,44.8256 C6.2247,34.6466 14.3147,26.5686 24.1897,26.5686 C27.9747,26.5686 31.4967,27.7656 34.4477,29.7996 C34.3037,29.9596 34.3037,29.9596 34.4487,29.8006 C34.5127,29.7266 34.5577,29.6416 34.6257,29.5706 C38.4167,25.5926 45.0417,25.5926 48.8297,29.5736 Z M47.0317,42.5926 C48.4467,41.1126 49.2207,39.1346 49.2207,37.0296 C49.2207,34.9206 48.4467,32.9436 47.0317,31.4626 C45.6167,29.9766 43.7327,29.1546 41.7257,29.1546 C39.7217,29.1546 37.8387,29.9766 36.4237,31.4596 C33.5007,34.5256 33.5007,39.5236 36.4237,42.5956 L41.7257,48.1586 L47.0317,42.5926 Z M41.729,34.8562 C42.607,34.8562 43.321,35.6062 43.321,36.5292 C43.321,37.4552 42.607,38.2022 41.729,38.2022 C40.848,38.2022 40.133,37.4552 40.133,36.5292 C40.133,35.6062 40.848,34.8562 41.729,34.8562 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                    </g>
                </svg>
            </div>
            <div class="range-box-text">
                <div class="range-box-text-semi">Usługi do klientów indywidualnych </div>
                <div class="range-box-text-bold">świadczymy promieniu 20km od miasta Milanówka.</div>
            </div>
        </div>
        <div class="range-box">
            <div class="range-box">
                <div class="range-box-img">
                    <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                        <title>ico_1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="ico_1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M48.9503,29.5999 C50.8493,31.5899 51.9003,34.2499 51.9003,37.0699 C51.9003,39.8899 50.8493,42.5399 48.9603,44.5299 L42.7503,51.0499 C42.5003,51.3099 42.1703,51.4399 41.8493,51.4399 C41.5203,51.4399 41.1903,51.3099 40.9503,51.0499 L38.3893,48.3599 L1.2103,48.3599 C0.5493,48.3599 0.0003,47.7899 0.0003,47.0899 C0.0003,46.3899 0.5493,45.8199 1.2103,45.8199 L5.4603,45.8199 L5.4603,23.7499 C5.4603,23.0499 6.0003,22.4799 6.6703,22.4799 L12.2503,22.4799 L12.2503,3.2599 C12.2503,2.5599 12.7993,1.9999 13.4603,1.9999 L41.7503,1.9999 C42.4203,1.9999 42.9603,2.5599 42.9603,3.2599 L42.9603,26.7199 C45.1793,26.9699 47.3303,27.8999 48.9503,29.5999 Z M47.1503,42.6399 C48.5703,41.1499 49.3493,39.1699 49.3493,37.0699 C49.3493,34.9599 48.5703,32.9799 47.1503,31.4899 C45.7403,30.0099 43.8493,29.1899 41.8493,29.1899 C39.8393,29.1899 37.9603,30.0099 36.5403,31.4899 C35.1203,32.9799 34.3393,34.9599 34.3393,37.0699 C34.3393,39.1699 35.1203,41.1499 36.5403,42.6399 L41.8493,48.2099 L47.1503,42.6399 Z M14.6793,45.8199 L35.9603,45.8199 L34.7403,44.5299 C32.8393,42.5399 31.7993,39.8899 31.7993,37.0699 C31.7993,34.2499 32.8393,31.5899 34.7403,29.5999 C36.3203,27.9399 38.3893,27.0199 40.5403,26.7399 L40.5403,4.5399 L14.6793,4.5399 L14.6793,45.8199 Z M19.8261,16.3957 C19.1561,16.3957 18.6161,15.8277 18.6161,15.1237 C18.6161,14.4237 19.1561,13.8517 19.8261,13.8517 L31.2261,13.8517 C31.8951,13.8517 32.4361,14.4237 32.4361,15.1237 C32.4361,15.8277 31.8951,16.3957 31.2261,16.3957 L19.8261,16.3957 Z M32.4365,24.509 C32.4365,25.213 31.8955,25.781 31.2265,25.781 L19.8265,25.781 C19.1565,25.781 18.6165,25.213 18.6165,24.509 C18.6165,23.809 19.1565,23.24 19.8265,23.24 L31.2265,23.24 C31.8955,23.24 32.4365,23.809 32.4365,24.509 Z M7.8803,45.8199 L12.2503,45.8199 L12.2503,25.0199 L7.8803,25.0199 L7.8803,45.8199 Z M41.8466,34.8957 C42.7256,34.8957 43.4406,35.6467 43.4406,36.5697 C43.4406,37.4937 42.7256,38.2447 41.8466,38.2447 C40.9646,38.2447 40.2506,37.4937 40.2506,36.5697 C40.2506,35.6467 40.9646,34.8957 41.8466,34.8957 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                        </g>
                    </svg>

                </div>
                <div class="range-box-text">
                    <div class="range-box-text-semi">Usługi dla klientów firmowych świadczymy </div>
                    <div class="range-box-text-bold"> na terenie całego województwa mazowieckiego, głównie w Warszawie.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="three-reasons"><div class="blue">3 powody, </div> aby wybrać happyclean: </div>
    <div class="three-reasons-boxies">
        <div class="three-reasons-box">
            <div class="three-reasons-box-img">
                <svg width="66px" height="60px" viewBox="0 0 66 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/Profesjonalizm</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Profesjonalizm-" transform="translate(-17.000000, -21.000000)">
                            <path d="M100,50.0003761 C100,77.614309 77.6135569,100 49.9996239,100 C22.385691,100 0,77.614309 0,50.0003761 C0,22.385691 22.385691,0 49.9996239,0 C77.6135569,0 100,22.385691 100,50.0003761" id="BG"></path>
                            <g id="Page-1" stroke-width="1" fill-rule="evenodd" transform="translate(17.500000, 20.000000)">
                                <path d="M32.4672464,56.1544928 L29.4034783,46.8907246 L32.4672464,43.824058 L35.5310145,46.8907246 L32.4672464,56.1544928 Z M33.2353623,41.5197101 C32.8295652,41.1081159 32.1049275,41.1081159 31.6991304,41.5197101 L27.3918841,45.8269565 C27.102029,46.1168116 27.0005797,46.5486957 27.1281159,46.9371014 L31.4353623,59.9573913 C31.5831884,60.4037681 31.9976812,60.7023188 32.4672464,60.7023188 C32.9368116,60.7023188 33.3513043,60.4037681 33.4991304,59.9573913 L37.8063768,46.9371014 C37.933913,46.5486957 37.8324638,46.1168116 37.5426087,45.8269565 L33.2353623,41.5197101 Z" id="Fill-1" fill="#4487F4"></path>
                                <path d="M43.9437681,49.1173913 L41.3205797,49.1173913 C40.7205797,49.1173913 40.2336232,49.6043478 40.2336232,50.2043478 C40.2336232,50.8043478 40.7205797,51.2913043 41.3205797,51.2913043 L43.9437681,51.2913043 C44.5437681,51.2913043 45.0307246,50.8043478 45.0307246,50.2043478 C45.0307246,49.6043478 44.5437681,49.1173913 43.9437681,49.1173913" id="Fill-3" fill="#2F3E4C"></path>
                                <path d="M32.4672464,31.5026087 C28.075942,31.5026087 24.502029,27.9315942 24.502029,23.5373913 C24.502029,19.146087 28.075942,15.5750725 32.4672464,15.5750725 C36.8585507,15.5750725 40.4324638,19.146087 40.4324638,23.5373913 C40.4324638,27.9315942 36.8585507,31.5026087 32.4672464,31.5026087 M32.4672464,13.4011594 C26.875942,13.4011594 22.3281159,17.946087 22.3281159,23.5373913 C22.3281159,29.1286957 26.875942,33.6765217 32.4672464,33.6765217 C38.0585507,33.6765217 42.6063768,29.1286957 42.6063768,23.5373913 C42.6063768,17.946087 38.0585507,13.4011594 32.4672464,13.4011594" id="Fill-5" fill="#4487F4"></path>
                                <g id="Group-9" transform="translate(0.000000, 0.666957)" fill="#2F3E4C">
                                    <path d="M53.6614493,54.6750725 C52.6266667,43.8924638 43.5165217,35.4315942 32.4672464,35.4315942 C21.417971,35.4315942 12.3078261,43.8924638 11.2730435,54.6750725 C5.46724638,48.9910145 2.17449275,41.2142029 2.17449275,33.0315942 C2.17449275,16.3301449 15.7628986,2.73884058 32.4672464,2.73884058 C49.1715942,2.73884058 62.76,16.3301449 62.76,33.0315942 C62.76,41.2142029 59.4672464,48.9910145 53.6614493,54.6750725 M32.4672464,0.564927536 C14.5657971,0.564927536 0.000579710145,15.1272464 0.000579710145,33.0315942 C0.000579710145,42.5475362 4.1542029,51.5533333 11.3976812,57.735942 C11.8556522,58.1243478 12.5397101,58.0721739 12.9310145,57.6142029 C12.96,57.5823188 12.9831884,57.5504348 13.0063768,57.5156522 C13.217971,57.3185507 13.3484058,57.0373913 13.3484058,56.7243478 C13.3484058,46.1823188 21.9252174,37.6055072 32.4672464,37.6055072 C43.0092754,37.6055072 51.586087,46.1823188 51.586087,56.7243478 C51.586087,57.0373913 51.7165217,57.3185507 51.9281159,57.5156522 C51.9513043,57.5504348 51.9744928,57.5823188 52.0034783,57.6142029 C52.217971,57.8663768 52.5223188,57.9968116 52.8295652,57.9968116 C53.0788406,57.9968116 53.3310145,57.9098551 53.5368116,57.735942 C60.7802899,51.5533333 64.933913,42.5475362 64.933913,33.0315942 C64.933913,15.1272464 50.3686957,0.564927536 32.4672464,0.564927536" id="Fill-7"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

            </div>
            <div class="three-reasons-box-bold">Profesjonalizm</div>
            <div class="three-reasons-box-normal">Profesjonalny sprzęt i chemia. Dotrzymujemy terminów i dbamy o zadowolenie.</div>
        </div>
        <div class="three-reasons-box">
            <div class="three-reasons-box-img">
                <svg width="66px" height="67px" viewBox="0 0 66 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/elastyczność</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Elastycznosc" transform="translate(-17.000000, -17.000000)">
                            <path d="M100,50.0003761 C100,77.614309 77.6135569,100 49.9996239,100 C22.385691,100 0,77.614309 0,50.0003761 C0,22.385691 22.385691,0 49.9996239,0 C77.6135569,0 100,22.385691 100,50.0003761" id="BG"></path>
                            <g id="Page-1" stroke-width="1" fill-rule="evenodd" transform="translate(17.500000, 16.666667)">
                                <g id="Group-3" transform="translate(0.000000, 0.754783)" fill="#2F3E4C">
                                    <path d="M32.677971,63.6594203 C15.8576812,63.6594203 2.17362319,49.9753623 2.17362319,33.157971 C2.17362319,16.3376812 15.8576812,2.65072464 32.677971,2.65072464 C49.4982609,2.65072464 63.1823188,16.3376812 63.1823188,33.157971 C63.1823188,49.9753623 49.4982609,63.6594203 32.677971,63.6594203 M32.677971,0.476811594 C14.6605797,0.476811594 -0.000289855072,15.1376812 -0.000289855072,33.157971 C-0.000289855072,51.1724638 14.6605797,65.8333333 32.677971,65.8333333 C50.6953623,65.8333333 65.3562319,51.1724638 65.3562319,33.157971 C65.3562319,15.1376812 50.6953623,0.476811594 32.677971,0.476811594" id="Fill-1"></path>
                                </g>
                                <path d="M33.7649275,29.5637681 L33.7649275,15.7057971 C33.7649275,15.1057971 33.277971,14.6188406 32.677971,14.6188406 C32.077971,14.6188406 31.5910145,15.1057971 31.5910145,15.7057971 L31.5910145,29.5637681 C31.9417391,29.4768116 32.3011594,29.415942 32.677971,29.415942 C33.0547826,29.415942 33.4142029,29.4768116 33.7649275,29.5637681" id="Fill-4" fill="#4487F4"></path>
                                <path d="M50.8831884,32.8246377 L37.0223188,32.8246377 C37.1092754,33.1753623 37.1701449,33.5347826 37.1701449,33.9115942 C37.1701449,34.2884058 37.1092754,34.6478261 37.0223188,34.9985507 L50.8831884,34.9985507 C51.4831884,34.9985507 51.9701449,34.5115942 51.9701449,33.9115942 C51.9701449,33.3115942 51.4831884,32.8246377 50.8831884,32.8246377" id="Fill-6" fill="#4487F4"></path>
                                <path d="M32.677971,11.224058 C33.277971,11.224058 33.7649275,10.7371014 33.7649275,10.1371014 L33.7649275,9.08782609 C33.7649275,8.48782609 33.277971,8.00086957 32.677971,8.00086957 C32.077971,8.00086957 31.5910145,8.48782609 31.5910145,9.08782609 L31.5910145,10.1371014 C31.5910145,10.7371014 32.077971,11.224058 32.677971,11.224058" id="Fill-8" fill="#4487F4"></path>
                                <path d="M32.677971,56.595942 C32.077971,56.595942 31.5910145,57.0828986 31.5910145,57.6828986 L31.5910145,58.7321739 C31.5910145,59.3321739 32.077971,59.8191304 32.677971,59.8191304 C33.277971,59.8191304 33.7649275,59.3321739 33.7649275,58.7321739 L33.7649275,57.6828986 C33.7649275,57.0828986 33.277971,56.595942 32.677971,56.595942" id="Fill-10" fill="#4487F4"></path>
                                <path d="M57.5011594,32.8246377 L56.4518841,32.8246377 C55.8518841,32.8246377 55.3649275,33.3115942 55.3649275,33.9115942 C55.3649275,34.5115942 55.8518841,34.9985507 56.4518841,34.9985507 L57.5011594,34.9985507 C58.1011594,34.9985507 58.5881159,34.5115942 58.5881159,33.9115942 C58.5881159,33.3115942 58.1011594,32.8246377 57.5011594,32.8246377" id="Fill-12" fill="#4487F4"></path>
                                <path d="M8.90521739,32.8246377 L7.85594203,32.8246377 C7.25594203,32.8246377 6.76898551,33.3115942 6.76898551,33.9115942 C6.76898551,34.5115942 7.25594203,34.9985507 7.85594203,34.9985507 L8.90521739,34.9985507 C9.50521739,34.9985507 9.99217391,34.5115942 9.99217391,33.9115942 C9.99217391,33.3115942 9.50521739,32.8246377 8.90521739,32.8246377" id="Fill-14" fill="#4487F4"></path>
                                <path d="M30.3597101,33.9115942 C30.3597101,32.6333333 31.4002899,31.5898551 32.6785507,31.5898551 C33.9568116,31.5898551 34.9973913,32.6333333 34.9973913,33.9115942 C34.9973913,35.1898551 33.9568116,36.2304348 32.6785507,36.2304348 C31.4002899,36.2304348 30.3597101,35.1898551 30.3597101,33.9115942 M37.0205797,32.8246377 C36.6205797,31.2217391 35.3655072,29.9666667 33.7655072,29.5637681 C33.4147826,29.4768116 33.0553623,29.415942 32.6785507,29.415942 C32.3017391,29.415942 31.9394203,29.4768116 31.5915942,29.5637681 C29.6408696,30.0536232 28.1857971,31.8072464 28.1857971,33.9115942 C28.1857971,36.3869565 30.2002899,38.4043478 32.6785507,38.4043478 C34.7771014,38.4043478 36.5336232,36.9492754 37.0205797,34.9985507 C37.1104348,34.6478261 37.1713043,34.2884058 37.1713043,33.9115942 C37.1713043,33.5347826 37.1104348,33.1753623 37.0205797,32.8246377" id="Fill-16" fill="#2F3E4C"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="three-reasons-box-bold">Elastyczność pracy</div>
            <div class="three-reasons-box-normal">Dostosowujemy się do Was.<br> Często pracujemy po 16:00.</div>
        </div>
        <div class="three-reasons-box">
            <div class="three-reasons-box-img">
                <svg width="65px" height="69px" viewBox="0 0 65 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/rozwoj</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/rozwoj" transform="translate(-18.000000, -16.000000)">
                            <path d="M100,50.0003761 C100,77.614309 77.6135569,100 49.9996239,100 C22.385691,100 0,77.614309 0,50.0003761 C0,22.385691 22.385691,0 49.9996239,0 C77.6135569,0 100,22.385691 100,50.0003761" id="BG"></path>
                            <g id="Page-1" stroke-width="1" fill-rule="evenodd" transform="translate(18.333333, 15.833333)">
                                <g id="Group-3" transform="translate(0.000000, 0.483636)" fill="#2F3E4C">
                                    <path d="M57.9827273,17.77 C57.6221212,17.2578788 56.9160606,17.139697 56.3978788,17.4942424 C55.8857576,17.8548485 55.7645455,18.5669697 56.1251515,19.0790909 C59.6554545,24.0881818 61.5221212,29.9821212 61.5221212,36.1336364 C61.5221212,52.4669697 48.2312121,65.7578788 31.8978788,65.7578788 C15.5615152,65.7578788 2.27363636,52.4669697 2.27363636,36.1336364 C2.27363636,20.07 15.1312121,6.97909091 31.0918182,6.55181818 L29.0372727,8.60636364 C28.5918182,9.04878788 28.5918182,9.7669697 29.0372727,10.2124242 C29.2584848,10.4336364 29.5493939,10.5457576 29.840303,10.5457576 C30.1312121,10.5457576 30.4221212,10.4366667 30.6433333,10.2154545 L34.7584848,6.10030303 C34.9706061,5.88818182 35.0918182,5.59727273 35.0918182,5.29727273 C35.0918182,4.99424242 34.9706061,4.70333333 34.7584848,4.49121212 L30.6433333,0.379090909 C30.2009091,-0.0663636364 29.479697,-0.0633333333 29.0372727,0.382121212 C28.5918182,0.824545455 28.5918182,1.54575758 29.0372727,1.98818182 L31.3160606,4.2669697 C13.9978788,4.57909091 0.000909090909,18.739697 0.000909090909,36.1336364 C0.000909090909,53.7215152 14.3069697,68.0306061 31.8978788,68.0306061 C49.4857576,68.0306061 63.7948485,53.7215152 63.7948485,36.1336364 C63.7948485,29.5124242 61.7857576,23.1609091 57.9827273,17.77" id="Fill-1"></path>
                                </g>
                                <path d="M13.8154545,48.7963636 C13.8154545,49.4236364 14.3245455,49.9327273 14.9518182,49.9327273 L48.8427273,49.9327273 C49.47,49.9327273 49.9790909,49.4236364 49.9790909,48.7963636 C49.9790909,48.1690909 49.47,47.66 48.8427273,47.66 L14.9518182,47.66 C14.3245455,47.66 13.8154545,48.1690909 13.8154545,48.7963636" id="Fill-4" fill="#2F3E4C"></path>
                                <path d="M19.569697,42.7978788 L19.569697,36.1857576 C19.569697,35.5584848 19.0606061,35.0493939 18.4333333,35.0493939 C17.8060606,35.0493939 17.2969697,35.5584848 17.2969697,36.1857576 L17.2969697,42.7978788 C17.2969697,43.4251515 17.8060606,43.9342424 18.4333333,43.9342424 C19.0606061,43.9342424 19.569697,43.4251515 19.569697,42.7978788" id="Fill-6" fill="#2F3E4C"></path>
                                <path d="M28.5451515,42.7978788 L28.5451515,25.879697 C28.5451515,25.2524242 28.0360606,24.7433333 27.4087879,24.7433333 C26.7815152,24.7433333 26.2724242,25.2524242 26.2724242,25.879697 L26.2724242,42.7978788 C26.2724242,43.4251515 26.7815152,43.9342424 27.4087879,43.9342424 C28.0360606,43.9342424 28.5451515,43.4251515 28.5451515,42.7978788" id="Fill-8" fill="#4487F4"></path>
                                <path d="M36.3857576,43.9342424 C37.0130303,43.9342424 37.5221212,43.4251515 37.5221212,42.7978788 L37.5221212,29.0372727 C37.5221212,28.41 37.0130303,27.9009091 36.3857576,27.9009091 C35.7584848,27.9009091 35.2493939,28.41 35.2493939,29.0372727 L35.2493939,42.7978788 C35.2493939,43.4251515 35.7584848,43.9342424 36.3857576,43.9342424" id="Fill-10" fill="#2F3E4C"></path>
                                <path d="M45.3612121,43.9342424 C45.9884848,43.9342424 46.4975758,43.4251515 46.4975758,42.7978788 L46.4975758,17.2948485 C46.4975758,16.6675758 45.9884848,16.1584848 45.3612121,16.1584848 C44.7339394,16.1584848 44.2248485,16.6675758 44.2248485,17.2948485 L44.2248485,42.7978788 C44.2248485,43.4251515 44.7339394,43.9342424 45.3612121,43.9342424" id="Fill-12" fill="#4487F4"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="three-reasons-box-bold">Chęć rozwijania się</div>
            <div class="three-reasons-box-normal">Chcemy być  skuteczniejsi, szybsi ekonomiczniejsi – dla Nas i dla Was.</div>
        </div>
    </div>
    <div class="opinons">
        <div class="opinons-title">Co mówią o nas klienci?</div>
        <div class="opinons-boxies">
            <div class="opinons-persons-box">
                <div class="opinons-box">
                    <div class="opinons-quotation">
                        <svg width="31px" height="27px" viewBox="0 0 31 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                            <title>assets/ico/testimonials/v1</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="panels/testimonials/box/v1" transform="translate(-57.000000, -61.000000)" fill="#DFE2E5">
                                    <g id="KOMENTARZ">
                                        <g id="assets/ico/testimonials/v1" transform="translate(57.000000, 61.000000)">
                                            <g id="„">
                                                <path d="M1.83984375,26.8867188 L1.83984375,23.1650391 C3.01335222,22.5279916 3.89347037,21.379647 4.48022461,19.7199707 C5.06697885,18.0602944 5.36035156,15.8725722 5.36035156,13.1567383 L5.36035156,12 L0.582519531,12 L0.582519531,0.834960938 L11.7475586,0.834960938 L11.7475586,9.18359375 C11.7475586,14.2464446 10.9177329,18.2530777 9.25805664,21.2036133 C7.59838037,24.1541489 5.12566747,26.0484984 1.83984375,26.8867188 Z M20.4482422,26.8867188 L20.4482422,23.1650391 C21.6217507,22.5279916 22.5018688,21.379647 23.088623,19.7199707 C23.6753773,18.0602944 23.96875,15.8725722 23.96875,13.1567383 L23.96875,12 L19.190918,12 L19.190918,0.834960938 L30.355957,0.834960938 L30.355957,9.18359375 C30.355957,14.2464446 29.5261313,18.2530777 27.8664551,21.2036133 C26.2067788,24.1541489 23.7340659,26.0484984 20.4482422,26.8867188 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="opinon">
                        „Jeden telefon - pranie kanapy i fotela umówione na następny dzień. Przyjazd na czas. Wszystko sprawnie i bez zakłóceń. Kanapa czysta i cena niska!"
                    </div>

                </div>
                <div class="person-left">
                    <img src="~/Content/Zdjecia/PhotoDopierzemyTo/v1.png" alt="Alternate Text" />
                    <div class="person-name">
                        Jan Kowalski
                    </div>
                </div>
            </div>
            <div id="kom2" class="opinons-persons-box">
                <div class="opinons-box">
                    <div class="opinons-quotation">
                        <svg width="31px" height="27px" viewBox="0 0 31 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                            <title>assets/ico/testimonials/v1</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="panels/testimonials/box/v1" transform="translate(-57.000000, -61.000000)" fill="#DFE2E5">
                                    <g id="KOMENTARZ">
                                        <g id="assets/ico/testimonials/v1" transform="translate(57.000000, 61.000000)">
                                            <g id="„">
                                                <path d="M1.83984375,26.8867188 L1.83984375,23.1650391 C3.01335222,22.5279916 3.89347037,21.379647 4.48022461,19.7199707 C5.06697885,18.0602944 5.36035156,15.8725722 5.36035156,13.1567383 L5.36035156,12 L0.582519531,12 L0.582519531,0.834960938 L11.7475586,0.834960938 L11.7475586,9.18359375 C11.7475586,14.2464446 10.9177329,18.2530777 9.25805664,21.2036133 C7.59838037,24.1541489 5.12566747,26.0484984 1.83984375,26.8867188 Z M20.4482422,26.8867188 L20.4482422,23.1650391 C21.6217507,22.5279916 22.5018688,21.379647 23.088623,19.7199707 C23.6753773,18.0602944 23.96875,15.8725722 23.96875,13.1567383 L23.96875,12 L19.190918,12 L19.190918,0.834960938 L30.355957,0.834960938 L30.355957,9.18359375 C30.355957,14.2464446 29.5261313,18.2530777 27.8664551,21.2036133 C26.2067788,24.1541489 23.7340659,26.0484984 20.4482422,26.8867188 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="opinon">
                        „Serdecznie polecam firmę happyclean. Wykładzina czysta, prana oczywiście po godzinach pracy biura + na następny dzień sucha, biuro od rana gotowe do pracy. 5+!"
                    </div>


                </div>
                <div class="person-right">
                    <div class="person-name">
                        Jan Kowalski
                    </div>
                    <img src="~/Content/Zdjecia/PhotoDopierzemyTo/v1.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>

    <div class="questions">
        Pytania i odpowiedzi
    </div>
    <div class="questions-tab">
        <div class="question">
            <div class="question-mark">
                <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/question</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-20.000000, -26.000000)" fill="#4487F4">
                            <g id="assets/ico/question">
                                <g transform="translate(20.000000, 26.000000)">
                                    <path d="M13.9915054,0.0170459459 C21.7280189,0.0170459459 27.9829919,6.27201892 27.9829919,14.0085324 C27.9829919,21.7449514 21.7280189,27.9999243 13.9915054,27.9999243 C6.25499189,27.9999243 1.89189167e-05,21.7449514 1.89189167e-05,14.0085324 C1.89189167e-05,6.27201892 6.25499189,0.0170459459 13.9915054,0.0170459459 Z M13.9915054,26.3539784 C20.7403568,26.3539784 26.3369514,20.7573838 26.3369514,14.0085324 C26.3369514,7.25968108 20.7403568,1.66308649 13.9915054,1.66308649 C7.24265405,1.66308649 1.64605946,7.25968108 1.64605946,14.0085324 C1.64605946,20.7573838 7.24265405,26.3539784 13.9915054,26.3539784 Z M15.1249082,6.71578737 C16.484616,7.04092249 17.6742748,8.01642126 18.014275,9.4796227 C18.3541775,10.7802566 17.8443238,12.0808905 16.6545672,13.0563892 C15.8047133,13.7066595 15.1249082,14.6821582 15.1249082,15.657657 C15.2949571,16.1454531 14.9549569,16.4705882 14.4451032,16.4705882 C13.9351517,16.4705882 13.5952492,16.1453597 13.5952492,15.657657 C13.5952492,14.1943621 14.2751519,12.7312541 15.6348597,11.7557554 C16.3146647,11.2679593 16.484616,10.617689 16.3146647,9.80475782 C16.1447135,9.15448759 15.6348597,8.50412393 14.7850057,8.34155638 C14.1052006,8.17898882 13.5952492,8.34155638 13.0853954,8.66669149 C12.5755416,8.9918266 12.4055903,9.64219026 12.4055903,10.1298929 C12.4055903,10.617689 12.0655901,10.9428241 11.5557363,10.9428241 C11.0457849,10.9428241 10.7058824,10.6175956 10.7058824,10.1298929 C10.7058824,8.9918266 11.2157361,8.01632783 12.0655901,7.3660576 C12.9154441,6.71578737 14.105103,6.39065226 15.1249082,6.71578737 Z M13.3411765,20 C13.6705882,19.6862745 14.1647059,19.6862745 14.4941176,20 C14.6588235,20.1568627 14.8235294,20.3137255 14.8235294,20.627451 C14.8235294,20.7843137 14.6588235,21.0980392 14.4941176,21.0980392 C14.4941176,21.254902 14.1647059,21.4117647 14,21.4117647 C13.8352941,21.4117647 13.5058824,21.254902 13.3411765,21.0980392 C13.1764706,20.9411765 13.1764706,20.7843137 13.1764706,20.627451 C13.1764706,20.4705882 13.1764706,20.1568627 13.3411765,20 Z" id="Combined-Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</div>
            <div class="question-arrow">
                <svg width="18px" height="10px" viewBox="0 0 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/arrow/rozwiń</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-1124.000000, -35.000000)" fill="#4487F4">
                            <g id="assets/ico/arrow/rozwiń">
                                <g transform="translate(1124.000000, 35.000000)">
                                    <g id="Page-1">
                                        <path d="M8.80825,9.30859 C8.68025,9.30859 8.55225,9.25959 8.45425,9.16259 L0.14625,0.85359 C-0.04875,0.65859 -0.04875,0.34159 0.14625,0.14659 C0.34125,-0.04841 0.65825,-0.04841 0.85325,0.14659 L8.80825,8.10159 L16.76325,0.14659 C16.95825,-0.04841 17.27525,-0.04841 17.47025,0.14659 C17.66525,0.34159 17.66525,0.65859 17.47025,0.85359 L9.16225,9.16259 C9.06425,9.25959 8.93625,9.30859 8.80825,9.30859"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="question">
            <div class="question-mark">
                <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/question</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-20.000000, -26.000000)" fill="#4487F4">
                            <g id="assets/ico/question">
                                <g transform="translate(20.000000, 26.000000)">
                                    <path d="M13.9915054,0.0170459459 C21.7280189,0.0170459459 27.9829919,6.27201892 27.9829919,14.0085324 C27.9829919,21.7449514 21.7280189,27.9999243 13.9915054,27.9999243 C6.25499189,27.9999243 1.89189167e-05,21.7449514 1.89189167e-05,14.0085324 C1.89189167e-05,6.27201892 6.25499189,0.0170459459 13.9915054,0.0170459459 Z M13.9915054,26.3539784 C20.7403568,26.3539784 26.3369514,20.7573838 26.3369514,14.0085324 C26.3369514,7.25968108 20.7403568,1.66308649 13.9915054,1.66308649 C7.24265405,1.66308649 1.64605946,7.25968108 1.64605946,14.0085324 C1.64605946,20.7573838 7.24265405,26.3539784 13.9915054,26.3539784 Z M15.1249082,6.71578737 C16.484616,7.04092249 17.6742748,8.01642126 18.014275,9.4796227 C18.3541775,10.7802566 17.8443238,12.0808905 16.6545672,13.0563892 C15.8047133,13.7066595 15.1249082,14.6821582 15.1249082,15.657657 C15.2949571,16.1454531 14.9549569,16.4705882 14.4451032,16.4705882 C13.9351517,16.4705882 13.5952492,16.1453597 13.5952492,15.657657 C13.5952492,14.1943621 14.2751519,12.7312541 15.6348597,11.7557554 C16.3146647,11.2679593 16.484616,10.617689 16.3146647,9.80475782 C16.1447135,9.15448759 15.6348597,8.50412393 14.7850057,8.34155638 C14.1052006,8.17898882 13.5952492,8.34155638 13.0853954,8.66669149 C12.5755416,8.9918266 12.4055903,9.64219026 12.4055903,10.1298929 C12.4055903,10.617689 12.0655901,10.9428241 11.5557363,10.9428241 C11.0457849,10.9428241 10.7058824,10.6175956 10.7058824,10.1298929 C10.7058824,8.9918266 11.2157361,8.01632783 12.0655901,7.3660576 C12.9154441,6.71578737 14.105103,6.39065226 15.1249082,6.71578737 Z M13.3411765,20 C13.6705882,19.6862745 14.1647059,19.6862745 14.4941176,20 C14.6588235,20.1568627 14.8235294,20.3137255 14.8235294,20.627451 C14.8235294,20.7843137 14.6588235,21.0980392 14.4941176,21.0980392 C14.4941176,21.254902 14.1647059,21.4117647 14,21.4117647 C13.8352941,21.4117647 13.5058824,21.254902 13.3411765,21.0980392 C13.1764706,20.9411765 13.1764706,20.7843137 13.1764706,20.627451 C13.1764706,20.4705882 13.1764706,20.1568627 13.3411765,20 Z" id="Combined-Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</div>
            <div class="question-arrow">
                <svg width="18px" height="10px" viewBox="0 0 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/arrow/rozwiń</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-1124.000000, -35.000000)" fill="#4487F4">
                            <g id="assets/ico/arrow/rozwiń">
                                <g transform="translate(1124.000000, 35.000000)">
                                    <g id="Page-1">
                                        <path d="M8.80825,9.30859 C8.68025,9.30859 8.55225,9.25959 8.45425,9.16259 L0.14625,0.85359 C-0.04875,0.65859 -0.04875,0.34159 0.14625,0.14659 C0.34125,-0.04841 0.65825,-0.04841 0.85325,0.14659 L8.80825,8.10159 L16.76325,0.14659 C16.95825,-0.04841 17.27525,-0.04841 17.47025,0.14659 C17.66525,0.34159 17.66525,0.65859 17.47025,0.85359 L9.16225,9.16259 C9.06425,9.25959 8.93625,9.30859 8.80825,9.30859"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="question">
            <div class="question-mark">
                <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/question</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-20.000000, -26.000000)" fill="#4487F4">
                            <g id="assets/ico/question">
                                <g transform="translate(20.000000, 26.000000)">
                                    <path d="M13.9915054,0.0170459459 C21.7280189,0.0170459459 27.9829919,6.27201892 27.9829919,14.0085324 C27.9829919,21.7449514 21.7280189,27.9999243 13.9915054,27.9999243 C6.25499189,27.9999243 1.89189167e-05,21.7449514 1.89189167e-05,14.0085324 C1.89189167e-05,6.27201892 6.25499189,0.0170459459 13.9915054,0.0170459459 Z M13.9915054,26.3539784 C20.7403568,26.3539784 26.3369514,20.7573838 26.3369514,14.0085324 C26.3369514,7.25968108 20.7403568,1.66308649 13.9915054,1.66308649 C7.24265405,1.66308649 1.64605946,7.25968108 1.64605946,14.0085324 C1.64605946,20.7573838 7.24265405,26.3539784 13.9915054,26.3539784 Z M15.1249082,6.71578737 C16.484616,7.04092249 17.6742748,8.01642126 18.014275,9.4796227 C18.3541775,10.7802566 17.8443238,12.0808905 16.6545672,13.0563892 C15.8047133,13.7066595 15.1249082,14.6821582 15.1249082,15.657657 C15.2949571,16.1454531 14.9549569,16.4705882 14.4451032,16.4705882 C13.9351517,16.4705882 13.5952492,16.1453597 13.5952492,15.657657 C13.5952492,14.1943621 14.2751519,12.7312541 15.6348597,11.7557554 C16.3146647,11.2679593 16.484616,10.617689 16.3146647,9.80475782 C16.1447135,9.15448759 15.6348597,8.50412393 14.7850057,8.34155638 C14.1052006,8.17898882 13.5952492,8.34155638 13.0853954,8.66669149 C12.5755416,8.9918266 12.4055903,9.64219026 12.4055903,10.1298929 C12.4055903,10.617689 12.0655901,10.9428241 11.5557363,10.9428241 C11.0457849,10.9428241 10.7058824,10.6175956 10.7058824,10.1298929 C10.7058824,8.9918266 11.2157361,8.01632783 12.0655901,7.3660576 C12.9154441,6.71578737 14.105103,6.39065226 15.1249082,6.71578737 Z M13.3411765,20 C13.6705882,19.6862745 14.1647059,19.6862745 14.4941176,20 C14.6588235,20.1568627 14.8235294,20.3137255 14.8235294,20.627451 C14.8235294,20.7843137 14.6588235,21.0980392 14.4941176,21.0980392 C14.4941176,21.254902 14.1647059,21.4117647 14,21.4117647 C13.8352941,21.4117647 13.5058824,21.254902 13.3411765,21.0980392 C13.1764706,20.9411765 13.1764706,20.7843137 13.1764706,20.627451 C13.1764706,20.4705882 13.1764706,20.1568627 13.3411765,20 Z" id="Combined-Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</div>
            <div class="question-arrow">
                <svg width="18px" height="10px" viewBox="0 0 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>assets/ico/arrow/rozwiń</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="symbols/FAq/1" transform="translate(-1124.000000, -35.000000)" fill="#4487F4">
                            <g id="assets/ico/arrow/rozwiń">
                                <g transform="translate(1124.000000, 35.000000)">
                                    <g id="Page-1">
                                        <path d="M8.80825,9.30859 C8.68025,9.30859 8.55225,9.25959 8.45425,9.16259 L0.14625,0.85359 C-0.04875,0.65859 -0.04875,0.34159 0.14625,0.14659 C0.34125,-0.04841 0.65825,-0.04841 0.85325,0.14659 L8.80825,8.10159 L16.76325,0.14659 C16.95825,-0.04841 17.27525,-0.04841 17.47025,0.14659 C17.66525,0.34159 17.66525,0.65859 17.47025,0.85359 L9.16225,9.16259 C9.06425,9.25959 8.93625,9.30859 8.80825,9.30859"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>

    </div>
    <div class="contact">
        <div class="contact-title">Formularz kontaktowy</div>
        <div class="contact-boxes-row">
            <input id="name" type="text" placeholder="Imię i nazwisko" />
            <input id="mail" type="text" placeholder="E-mail" />
        </div>
   
        <div class="contact-boxes-row">
            <input id="message" type="text" placeholder="Treść wiadomości" />
        </div>
        <div class="contact-boxes-row-contact">
            <div class="contact-button">
                Wyślij
            </div>
        </div>
    </div>
</div>








