<div class="line-under-nav">

</div>
<div class="container-contact">
    <div class="contact-address">
        Strona główna&nbsp;&nbsp;/&nbsp;&nbsp;
    </div>
    <div class="contactmobile-title-tab">
        Kontakt
    </div>
    <div class="contactmobile-box">
        <div class="contact-box-left">
            <div class="contact-text">
                <h5>Dział handlowy</h5>
                <h4>Artur Rajzyngier</h4>
                <a class="link-footer" href="#">+48 662 159 115</a>
                <br>
                <br>
                <h5>Dane rejestrowe firmy:</h5>
                <h4>Happy Clean Artur Rajzyngier</h4>
                <h4>Dembowskiej 17</h4>
                <h4>05-882 Milanówek</h4>
                <h4>NIP: 000 000 0000</h4>
                <h4>REGON: 000000000</h4>
                <div class="inline"><h5>E-mail:&nbsp; </h5><a class="link-footer " href="#">kontakt@happyclean.pl</a></div>
            </div>
        </div>
        <div class="contact-box-right">
            <div class="contact-box-title">Formularz kontaktowy</div>
            <div class="contact-form-box">
                <div class="contact-boxes-row">
                    <input id="name" type="text" placeholder="Imię i nazwisko" />

                </div>
                <div class="contact-boxes-row">

                    <input id="mail" type="text" placeholder="E-mail" />
                </div>


                <div class="contact-boxes-row">
                    <input id="message" type="text" placeholder="Treść wiadomości" />
                </div>
                <div class="contact-boxes-row-contact-left">
                    <div class="contact-button">
                        Wyślij
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
