<div class="line-under-nav">

</div>
<div class="container-polimeryzacja">
    <div class="polimeryzacja-address">
        Strona główna&nbsp;&nbsp;/&nbsp;&nbsp;
    </div>
    <div class="services-title-tab">
        Polimeryzacja podłóg typu: PCV i linoleum
    </div>

</div>

<div class="container">
    <div class="range">
        <div class="range-box">
            <div class="range-box-img">
                <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_2</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="ico_2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M24.1899,3.5413 C29.0139,3.5413 32.9369,7.5803 32.9369,12.5443 C32.9369,17.5093 29.0139,21.5453 24.1899,21.5453 C19.3709,21.5453 15.4469,17.5093 15.4469,12.5443 C15.4469,7.5803 19.3709,3.5413 24.1899,3.5413 M24.1899,24.0833 C18.0359,24.0833 13.0289,18.9093 13.0289,12.5443 C13.0289,6.1773 18.0359,0.9993 24.1899,0.9993 C30.3479,0.9993 35.3549,6.1773 35.3549,12.5443 C35.3549,18.9093 30.3479,24.0833 24.1899,24.0833 Z M6.6821,47.4871 C6.5011,47.4871 6.3381,47.4401 6.1831,47.3691 L7.1801,47.3691 C7.0261,47.4401 6.8621,47.4871 6.6821,47.4871 Z M24.0464,18.3704 C25.6024,18.3704 27.1614,17.7484 28.3484,16.5044 C28.7634,16.0724 28.7634,15.3694 28.3484,14.9294 C27.9344,14.4964 27.2614,14.4964 26.8504,14.9294 C25.3034,16.5524 22.7914,16.5524 21.2414,14.9294 C20.8304,14.4964 20.1584,14.4964 19.7434,14.9294 C19.3314,15.3694 19.3314,16.0724 19.7434,16.5044 C20.9304,17.7484 22.4894,18.3704 24.0464,18.3704 Z M48.8297,29.5736 C50.7227,31.5576 51.7677,34.2076 51.7677,37.0296 C51.7677,39.8446 50.7227,42.4946 48.8297,44.4856 L42.6267,50.9936 C42.3787,51.2546 42.0537,51.3866 41.7257,51.3866 C41.4007,51.3866 41.0767,51.2546 40.8287,50.9936 L37.3717,47.3676 L37.3717,47.3686 L7.1797,47.3686 L6.1827,47.3686 L2.2507,47.3686 C1.5587,47.3686 1.0007,46.7976 1.0007,46.0976 C1.0007,45.3986 1.5587,44.8266 2.2507,44.8266 L5.5407,44.8266 L8.0257,44.8266 L34.9517,44.8266 L34.9507,44.8256 L34.6257,44.4856 C31.3747,41.0686 30.8637,35.8906 33.0147,31.8716 C33.0147,31.8716 33.0147,31.8706 33.0157,31.8696 C30.4667,30.1406 27.4467,29.1076 24.1897,29.1076 C15.6557,29.1076 8.7137,36.0516 8.0257,44.8256 L5.5397,44.8256 C6.2247,34.6466 14.3147,26.5686 24.1897,26.5686 C27.9747,26.5686 31.4967,27.7656 34.4477,29.7996 C34.3037,29.9596 34.3037,29.9596 34.4487,29.8006 C34.5127,29.7266 34.5577,29.6416 34.6257,29.5706 C38.4167,25.5926 45.0417,25.5926 48.8297,29.5736 Z M47.0317,42.5926 C48.4467,41.1126 49.2207,39.1346 49.2207,37.0296 C49.2207,34.9206 48.4467,32.9436 47.0317,31.4626 C45.6167,29.9766 43.7327,29.1546 41.7257,29.1546 C39.7217,29.1546 37.8387,29.9766 36.4237,31.4596 C33.5007,34.5256 33.5007,39.5236 36.4237,42.5956 L41.7257,48.1586 L47.0317,42.5926 Z M41.729,34.8562 C42.607,34.8562 43.321,35.6062 43.321,36.5292 C43.321,37.4552 42.607,38.2022 41.729,38.2022 C40.848,38.2022 40.133,37.4552 40.133,36.5292 C40.133,35.6062 40.848,34.8562 41.729,34.8562 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                    </g>
                </svg>
            </div>
            <div class="range-box-text">
                
                <div class="range-box-text-services">Dzienna wydajność jaką możemy Państwu zaproponować to około 300 m2. W zależności od ilości i rozmieszczenia pomieszczeń, występujących zabrudzeń oraz rodzaju wykładziny wydajność może ulec zmianie.</div>
            </div>
        </div>
        <div class="range-box">
            <div class="range-box">
                <div class="range-box-img">
                    <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                        <title>ico_1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="ico_1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M48.9503,29.5999 C50.8493,31.5899 51.9003,34.2499 51.9003,37.0699 C51.9003,39.8899 50.8493,42.5399 48.9603,44.5299 L42.7503,51.0499 C42.5003,51.3099 42.1703,51.4399 41.8493,51.4399 C41.5203,51.4399 41.1903,51.3099 40.9503,51.0499 L38.3893,48.3599 L1.2103,48.3599 C0.5493,48.3599 0.0003,47.7899 0.0003,47.0899 C0.0003,46.3899 0.5493,45.8199 1.2103,45.8199 L5.4603,45.8199 L5.4603,23.7499 C5.4603,23.0499 6.0003,22.4799 6.6703,22.4799 L12.2503,22.4799 L12.2503,3.2599 C12.2503,2.5599 12.7993,1.9999 13.4603,1.9999 L41.7503,1.9999 C42.4203,1.9999 42.9603,2.5599 42.9603,3.2599 L42.9603,26.7199 C45.1793,26.9699 47.3303,27.8999 48.9503,29.5999 Z M47.1503,42.6399 C48.5703,41.1499 49.3493,39.1699 49.3493,37.0699 C49.3493,34.9599 48.5703,32.9799 47.1503,31.4899 C45.7403,30.0099 43.8493,29.1899 41.8493,29.1899 C39.8393,29.1899 37.9603,30.0099 36.5403,31.4899 C35.1203,32.9799 34.3393,34.9599 34.3393,37.0699 C34.3393,39.1699 35.1203,41.1499 36.5403,42.6399 L41.8493,48.2099 L47.1503,42.6399 Z M14.6793,45.8199 L35.9603,45.8199 L34.7403,44.5299 C32.8393,42.5399 31.7993,39.8899 31.7993,37.0699 C31.7993,34.2499 32.8393,31.5899 34.7403,29.5999 C36.3203,27.9399 38.3893,27.0199 40.5403,26.7399 L40.5403,4.5399 L14.6793,4.5399 L14.6793,45.8199 Z M19.8261,16.3957 C19.1561,16.3957 18.6161,15.8277 18.6161,15.1237 C18.6161,14.4237 19.1561,13.8517 19.8261,13.8517 L31.2261,13.8517 C31.8951,13.8517 32.4361,14.4237 32.4361,15.1237 C32.4361,15.8277 31.8951,16.3957 31.2261,16.3957 L19.8261,16.3957 Z M32.4365,24.509 C32.4365,25.213 31.8955,25.781 31.2265,25.781 L19.8265,25.781 C19.1565,25.781 18.6165,25.213 18.6165,24.509 C18.6165,23.809 19.1565,23.24 19.8265,23.24 L31.2265,23.24 C31.8955,23.24 32.4365,23.809 32.4365,24.509 Z M7.8803,45.8199 L12.2503,45.8199 L12.2503,25.0199 L7.8803,25.0199 L7.8803,45.8199 Z M41.8466,34.8957 C42.7256,34.8957 43.4406,35.6467 43.4406,36.5697 C43.4406,37.4937 42.7256,38.2447 41.8466,38.2447 C40.9646,38.2447 40.2506,37.4937 40.2506,36.5697 C40.2506,35.6467 40.9646,34.8957 41.8466,34.8957 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                        </g>
                    </svg>

                </div>
                <div class="range-box-text">

                    <div class="range-box-text-services"> Usługi prania wykładzin dla firm świadczymy na terenie całego województwa mazowieckiego, głównie w Warszawie.</div>
                </div>
            </div>
        </div>
    </div>
</div>