<div class="line-under-nav">

</div>
<div class="container-polimeryzacja">
    <div class="polimeryzacja-address">
        Strona główna&nbsp;&nbsp;/&nbsp;&nbsp;
    </div>
    <div class="services-title-tab">
        Polimeryzacja podłóg typu: PCV i linoleum
    </div>

</div>

<div class="container">
    <div class="polimeryzacja-photo"></div>

    <p class="description-bolt">Inspekcja wykładziny</p>
    <p class="description-normal">
        Polimeryzację posadzki PCV pierwszy raz wykonaliśmy 6 lat temu.
        Od tego czasu - stale szukąc nowych, lepszych rowziwązać - doszlismy do poziomu,
        który już cięzko będzie nam przeskoczyć. Dlatego nie przesadzimy mówiąc,
        że warto skorzystać akurat z naszej oferty.
    </p>
    <p class="description-normal">
        Po osobistym obejrzeniu przez nas podłogi wysyłamy Państwu szczegółową ofertę, w której: proponujemy
        Państwu doczyszczanie i pomileryzację podłóg produktami sprawdzonymi i naskuteczniejszymi na rynku,
        proponujemy Państwu indywidualne terminy i ceny, oraz przedstawiamy propozycję długoterminowej konserwacji podłóg.
    </p>
    <div class="advantages">

        <div class="advantages-title">
            Przedstawiamy najważniejsze zalety prania wykładzin biurowych przez Naszą firmę:
        </div>
        <div class="advantages-boxes">
            <div class="advantages-box">
                <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_Estetyka</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Estetyka" transform="translate(-14.000000, -15.000000)">
                            <g id="Page-1" transform="translate(14.666667, 30.066667)">
                                <path d="M35.9392,20.8213101 C33.9776928,16.8804406 30.7816348,14.5924406 27.7615768,13.2609623 C30.7816348,11.9320348 33.9776928,9.64148406 35.9392,5.70316522 C37.9007072,9.64148406 41.0967652,11.9320348 44.1168232,13.2609623 C41.0967652,14.5924406 37.9007072,16.8804406 35.9392,20.8213101 M47.1598377,12.3452522 C43.5097507,11.2509913 38.7577507,8.72067246 36.847258,2.88461449 C36.5921855,2.09644058 35.2862145,2.09644058 35.031142,2.88461449 C33.1206493,8.72067246 28.3686493,11.2509913 24.7185623,12.3452522 C24.3129971,12.467687 24.0349681,12.837542 24.0349681,13.2609623 C24.0349681,13.6843826 24.3129971,14.0567884 24.7185623,14.1792232 C28.3686493,15.2709333 33.1206493,17.8012522 35.031142,23.6398609 C35.1586783,24.0352232 35.5259826,24.3004986 35.9392,24.3004986 C36.3524174,24.3004986 36.7197217,24.0352232 36.847258,23.6398609 C38.7577507,17.8012522 43.5097507,15.2709333 47.1598377,14.1792232 C47.5654029,14.0567884 47.8434319,13.6843826 47.8434319,13.2609623 C47.8434319,12.837542 47.5654029,12.467687 47.1598377,12.3452522" id="Fill-3" fill="#4487F4"></path>
                                <path d="M22.2280348,2.93894493 C22.4831072,3.23227826 22.7713391,3.5052058 23.0901797,3.74752464 C22.7840928,3.98984348 22.4984116,4.26022029 22.2458899,4.55610435 C21.9908174,4.26022029 21.7025855,3.98984348 21.3837449,3.74497391 C21.6923826,3.5052058 21.9729623,3.23482899 22.2280348,2.93894493 M19.0957449,4.62752464 C20.1900058,5.08410435 20.9526725,5.78045217 21.3633391,6.69871304 C21.5163826,7.03795942 21.8530783,7.25732174 22.2280348,7.26242319 L22.235687,7.26242319 C22.605542,7.26242319 22.9422377,7.05071304 23.1003826,6.71656812 C23.6793971,5.49732174 24.6461217,4.91065507 25.3552232,4.63772754 C25.7199768,4.49488696 25.9597449,4.14798841 25.9648464,3.75517681 C25.9699478,3.36491594 25.7352812,3.01036522 25.375629,2.86242319 C24.2864696,2.41094493 23.5238029,1.71714783 23.1080348,0.791234783 C22.9549913,0.451988406 22.6182957,0.232626087 22.2458899,0.230075362 L22.235687,0.230075362 C21.8683826,0.230075362 21.531687,0.441785507 21.373542,0.775930435 C20.7945275,1.99772754 19.8278029,2.57929275 19.1212522,2.85477101 C18.7564986,2.99251014 18.5141797,3.34195942 18.5090783,3.73477101 C18.5039768,4.12503188 18.7360928,4.47958261 19.0957449,4.62752464" id="Fill-7" fill="#4487F4"></path>
                                <path d="M15.2757797,22.2984348 C16.4516638,21.5944348 17.681113,20.5664928 18.6937507,19.0768696 C19.5584464,20.3547826 20.7062725,21.4235362 22.1295768,22.2754783 C20.951142,22.9845797 19.7165913,24.0150725 18.7014029,25.5148986 C17.8163014,24.2191304 16.6710261,23.1452754 15.2757797,22.2984348 M24.647142,21.4031304 C22.2163014,20.3904928 20.5124174,18.8243478 19.5788522,16.7455072 C19.4258087,16.4037101 19.089113,16.1868986 18.7167072,16.1817971 C18.3494029,16.1996522 17.9999536,16.3884058 17.8418087,16.7251014 C16.5434899,19.4671304 14.3753739,20.7756522 12.7862725,21.3954783 C12.4240696,21.5357681 12.1817507,21.8852174 12.1766493,22.2729275 C12.1715478,22.6657391 12.4062145,23.0177391 12.7658667,23.1707826 C15.1201855,24.1502609 16.829171,25.724058 17.8418087,27.8462609 C17.9999536,28.1804058 18.3366493,28.3921159 18.7065043,28.3921159 C19.0763594,28.3921159 19.4130551,28.1778551 19.5712,27.8462609 C20.8695188,25.1016812 23.0350841,23.7931594 24.6241855,23.1784348 C24.9889391,23.0355942 25.2287072,22.6886957 25.2338087,22.2984348 C25.2389101,21.9081739 25.0067942,21.5536232 24.647142,21.4031304" id="Fill-11" fill="#4487F4"></path>
                                <g id="Group-15" transform="translate(0.000000, 43.197542)" fill="#2F3E4C">
                                    <path d="M28.7566145,-1.91304348 C13.9547594,-1.91304348 1.91278841,-13.9550145 1.91278841,-28.7543188 C1.91278841,-43.5561739 13.9547594,-55.6006957 28.7566145,-55.6006957 C43.5584696,-55.6006957 55.6004406,-43.5561739 55.6004406,-28.7543188 C55.6004406,-13.9550145 43.5584696,-1.91304348 28.7566145,-1.91304348 M28.7566145,-57.5137391 C12.9013101,-57.5137391 -0.000255072464,-44.6121739 -0.000255072464,-28.7543188 C-0.000255072464,-12.9015652 12.9013101,7.10542736e-15 28.7566145,7.10542736e-15 C44.6119188,7.10542736e-15 57.5134841,-12.9015652 57.5134841,-28.7543188 C57.5134841,-44.6121739 44.6119188,-57.5137391 28.7566145,-57.5137391" id="Fill-13"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="advantages-box-boldtext">Estetyka</p>
                <p class="advantages-box-normaltext">Wykładziny odzyskują barwę, wytarte szlaki komunikacyjne i plamy przestają być na pierwszym planie. Na takiej wykładzinie przyjemnie się pracuje.</p>
            </div>
            <div class="advantages-box">
                <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_bezpieczenstwo</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1" points="0.000255072464 1.15369275 57.5137391 1.15369275 57.5137391 58.6666667 0.000255072464 58.6666667"></polygon>
                    </defs>
                    <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Bezpieczeństwo" transform="translate(-14.000000, -15.000000)">
                            <g id="Page-1" transform="translate(14.666667, 13.200000)">
                                <g id="Group-3" transform="translate(0.000000, 1.397542)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M28.7571246,56.7543884 C13.9552696,56.7543884 1.91329855,44.7124174 1.91329855,29.913113 C1.91329855,15.111258 13.9552696,3.06673623 28.7571246,3.06673623 C43.5589797,3.06673623 55.6009507,15.111258 55.6009507,29.913113 C55.6009507,44.7124174 43.5589797,56.7543884 28.7571246,56.7543884 M28.7571246,1.15369275 C12.9018203,1.15369275 0.000255072464,14.055258 0.000255072464,29.913113 C0.000255072464,45.7658667 12.9018203,58.6674319 28.7571246,58.6674319 C44.612429,58.6674319 57.5139942,45.7658667 57.5139942,29.913113 C57.5139942,14.055258 44.612429,1.15369275 28.7571246,1.15369275" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M40.120858,31.3221333 C40.120858,35.7705971 37.7002203,39.8696116 33.8001623,42.014771 L28.6961623,44.8282203 L23.6661333,42.0275246 C19.7966841,39.8772638 17.3939014,35.7884522 17.3939014,31.3629449 L17.3939014,22.4303072 C21.5031188,22.6292638 25.614887,21.1855536 28.7650319,18.4486261 L28.8185971,18.4486261 C31.950887,21.1728 36.0345971,22.5680464 40.120858,22.4354087 L40.120858,31.3221333 Z M40.9779014,20.4534957 C36.998771,20.8718145 32.8589449,19.5505391 29.8261333,16.7855536 C29.6526841,16.624858 29.4205681,16.5355826 29.1833507,16.5355826 L28.4002783,16.5355826 C28.1630609,16.5355826 27.9334957,16.624858 27.7574957,16.7855536 C24.706829,19.5658435 20.5236406,20.8998725 16.5394087,20.4432928 C16.2715826,20.4305391 15.9986551,20.5045101 15.7971478,20.6830609 C15.5956406,20.8641623 15.480858,21.1243362 15.480858,21.394713 L15.480858,31.3629449 C15.480858,36.4796986 18.2611478,41.2112928 22.7351188,43.7033507 L28.226829,46.7591188 C28.3722203,46.8381913 28.5329159,46.8790029 28.6936116,46.8790029 C28.8517565,46.8790029 29.0099014,46.8381913 29.1552928,46.7591188 L34.7235246,43.6905971 C39.2332058,41.208742 42.0339014,36.4694957 42.0339014,31.3221333 L42.0339014,21.4049159 C42.0339014,21.1345391 41.9191188,20.8769159 41.7176116,20.6958145 C41.5186551,20.5172638 41.250829,20.440742 40.9779014,20.4534957 Z" id="Fill-4" fill="#2F3E4C"></path>
                                <path d="M28.5354667,33.4866783 L26.3239884,31.2726493 L25.9617855,30.9104464 C25.5893797,30.5405913 24.9823072,30.5329391 24.6073507,30.9078957 C24.2349449,31.2828522 24.2349449,31.8873739 24.6073507,32.2623304 L27.8595246,35.5145043 C28.0380754,35.6930551 28.2803942,35.7950841 28.5354667,35.7950841 C28.7905391,35.7950841 29.032858,35.6956058 29.2114087,35.5170551 L35.2591768,29.469287 C35.6341333,29.0943304 35.6341333,28.487258 35.2591768,28.1148522 C34.886771,27.7398957 34.2796986,27.7398957 33.9072928,28.1148522 L32.6472348,29.3723594 L28.5354667,33.4866783 Z" id="Fill-6" fill="#4487F4"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="advantages-box-boldtext">Bezpieczeństwo</p>
                <p class="advantages-box-normaltext">Chemia, której używamy jest bezpieczna dla otoczenia – ludzi, małych dzieci oraz zwierząt. Jest przeciwalergiczna.</p>
            </div>
            <div class="advantages-box">
                <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_zabijanie bakterii</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1" points="0 1.15369275 57.5134841 1.15369275 57.5134841 58.6666667 0 58.6666667"></polygon>
                    </defs>
                    <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Zabijanie-bakterii,-grzybów-i-roztoczy" transform="translate(-14.000000, -15.000000)">
                            <g id="Page-1" transform="translate(14.666667, 13.933333)">
                                <g id="Group-3" transform="translate(0.000000, 0.664209)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M28.7566145,56.7543884 C13.9547594,56.7543884 1.91278841,44.7098667 1.91278841,29.9105623 C1.91278841,22.197171 5.20067246,15.2566493 10.4220058,10.359258 L15.0847304,15.0194319 C11.0545855,18.7230841 8.51151304,24.0183884 8.51151304,29.9105623 C8.51151304,41.0750841 17.5920928,50.1556638 28.7566145,50.1556638 C34.6487884,50.1556638 39.9440928,47.6100406 43.6451942,43.5798957 L48.3104696,48.2426203 C43.4079768,53.4665043 36.4674551,56.7543884 28.7566145,56.7543884 Z M17.923687,15.1495188 C20.9641507,12.9150841 24.7009623,11.5759536 28.7566145,11.5759536 C38.8651362,11.5759536 47.0886725,19.8020406 47.0886725,29.9105623 C47.0886725,33.961113 45.7520928,37.7004754 43.5151072,40.7409391 L17.923687,15.1495188 Z M16.4366145,16.3713159 L42.2933101,42.2280116 C38.9391072,45.911258 34.1207884,48.2426203 28.7566145,48.2426203 C18.6480928,48.2426203 10.4245565,40.0165333 10.4245565,29.9105623 C10.4245565,24.5438377 12.7533681,19.7255188 16.4366145,16.3713159 Z M55.6004406,29.9105623 C55.6004406,36.3103304 53.3404986,42.1923014 49.5858319,46.8116638 L44.8797449,42.1055768 C47.4559768,38.7080116 49.0017159,34.489113 49.0017159,29.9105623 C49.0017159,18.7460406 39.9211362,9.66291014 28.7566145,9.66291014 C24.1729623,9.66291014 19.9566145,11.2112 16.5590493,13.7848812 L11.855513,9.08389565 C16.4723246,5.32667826 22.3542957,3.06673623 28.7566145,3.06673623 C43.5584696,3.06673623 55.6004406,15.1087072 55.6004406,29.9105623 Z M28.7566145,1.15369275 C21.517658,1.15369275 14.9138319,3.86256232 9.8531942,8.29317101 C9.82258551,8.31867826 9.78177391,8.30847536 9.75371594,8.33653333 C9.73331014,8.35438841 9.74096232,8.39009855 9.72310725,8.41305507 C3.77481739,13.6854029 -0.000255072464,21.3554319 -0.000255072464,29.9105623 C-0.000255072464,45.7658667 12.9013101,58.6674319 28.7566145,58.6674319 C44.6119188,58.6674319 57.5134841,45.7658667 57.5134841,29.9105623 C57.5134841,14.055258 44.6119188,1.15369275 28.7566145,1.15369275 Z" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M39.7453913,29.2037565 C39.0898551,28.9741913 38.368,29.3210899 38.1384348,29.9766261 C37.9088696,30.634713 38.2557681,31.3514667 38.9113043,31.5835826 C39.5668406,31.8105971 40.2861449,31.4688 40.5157101,30.810713 C40.7478261,30.1526261 40.4009275,29.4358725 39.7453913,29.2037565" id="Fill-4" fill="#2F3E4C"></path>
                                <path d="M34.0662029,43.8928696 C34.76,43.9413333 35.361971,43.4158841 35.4078841,42.7195362 C35.4537971,42.0257391 34.9283478,41.4237681 34.2345507,41.3804058 C33.5382029,41.331942 32.9387826,41.8573913 32.8928696,42.5537391 C32.8469565,43.2475362 33.3724058,43.8469565 34.0662029,43.8928696" id="Fill-6" fill="#4487F4"></path>
                                <path d="M21.2240696,29.0369391 C21.9178667,29.0828522 22.517287,28.5574029 22.5657507,27.8636058 C22.6116638,27.1698087 22.0862145,26.5678377 21.3924174,26.5219246 C20.6960696,26.4760116 20.0966493,27.0014609 20.0507362,27.695258 C20.0048232,28.3890551 20.5302725,28.9884754 21.2240696,29.0369391" id="Fill-8" fill="#2F3E4C"></path>
                                <path d="M20.3448348,41.5788522 C23.4286609,41.775258 23.8087188,43.4944464 23.8418783,43.6678957 C23.9056464,44.183142 24.344371,44.5580986 24.8494145,44.5580986 C24.8927768,44.5580986 24.9361391,44.5555478 24.9820522,44.5504464 C25.5406609,44.4790261 25.9334725,43.9688812 25.8620522,43.4102725 C25.8416464,43.2623304 25.3468058,39.8545623 20.472371,39.5459246 C19.6535884,39.4949101 19.0822261,39.2423884 18.7302261,38.7730551 C18.1052986,37.9389681 18.2430377,36.5207652 18.3476174,36.041229 C18.4700522,35.4953739 18.1257043,34.9495188 17.5798493,34.8270841 C17.0339942,34.6969971 16.4881391,35.0413449 16.3606029,35.5872 C16.2993855,35.8550261 15.7968928,38.2476058 17.0926609,39.9846493 C17.5875014,40.6503884 18.5542261,41.4666203 20.3448348,41.5788522" id="Fill-10" fill="#2F3E4C"></path>
                                <path d="M39.1041391,25.9929043 C39.1781101,25.727629 39.7953855,23.365658 38.5888928,21.5673971 C38.1246609,20.8787014 37.1987478,20.0165565 35.4157913,19.8176 C34.8495304,19.7410783 34.3546899,20.1542957 34.2909217,20.7180058 C34.2271536,21.2740638 34.6301681,21.7791072 35.1887768,21.8403246 C36.0075594,21.9321507 36.5636174,22.2152812 36.8926609,22.6999188 C37.4793275,23.5620638 37.2727188,24.9726145 37.1426319,25.4419478 C36.9946899,25.9852522 37.3109797,26.5464116 37.8517333,26.6943536 C37.9435594,26.7198609 38.0353855,26.7326145 38.1272116,26.7326145 C38.5710377,26.7326145 38.9791536,26.4418319 39.1041391,25.9929043" id="Fill-12" fill="#2F3E4C"></path>
                                <path d="M28.4640464,20.7445333 C27.4386551,20.7445333 26.6045681,19.9104464 26.6045681,18.8850551 C26.6045681,17.857113 27.4386551,17.0230261 28.4640464,17.0230261 C29.4894377,17.0230261 30.3235246,17.857113 30.3235246,18.8850551 C30.3235246,19.9104464 29.4894377,20.7445333 28.4640464,20.7445333 M28.4640464,15.1099826 C26.3852058,15.1099826 24.6915246,16.8036638 24.6915246,18.8850551 C24.6915246,20.9638957 26.3852058,22.6575768 28.4640464,22.6575768 C30.5454377,22.6575768 32.2365681,20.9638957 32.2365681,18.8850551 C32.2365681,16.8036638 30.5454377,15.1099826 28.4640464,15.1099826" id="Fill-16" fill="#4487F4"></path>
                                <path d="M25.4886261,31.9039536 C26.5140174,31.9039536 27.3481043,32.7380406 27.3481043,33.7634319 C27.3481043,34.7888232 26.5140174,35.6229101 25.4886261,35.6229101 C24.4632348,35.6229101 23.6291478,34.7888232 23.6291478,33.7634319 C23.6291478,32.7380406 24.4632348,31.9039536 25.4886261,31.9039536 M25.4886261,37.5359536 C27.5674667,37.5359536 29.2611478,35.8422725 29.2611478,33.7634319 C29.2611478,31.6820406 27.5674667,29.9909101 25.4886261,29.9909101 C23.4097855,29.9909101 21.7161043,31.6820406 21.7161043,33.7634319 C21.7161043,35.8422725 23.4097855,37.5359536 25.4886261,37.5359536" id="Fill-18" fill="#2F3E4C"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="advantages-box-boldtext">Zabijanie bakterii, grzybów i roztoczy</p>
                <p class="advantages-box-normaltext">Podczas prania pozbywamy się nie tylko widocznych zabrudzeń, ale również tych niewidocznych, które lubią chować się w obiciach i dywanach.</p>
            </div>
            <div class="advantages-box">
                <svg width="59px" height="66px" viewBox="0 0 59 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_porządek</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1" points="0.000255064207 1.64439895 57.5118775 1.64439895 57.5118775 51.0128415 0.000255064207 51.0128415"></polygon>
                        <polygon id="path-3" points="0.0976658546 0.697576871 34.3553396 0.697576871 34.3553396 51.0702072 0.0976658546 51.0702072"></polygon>
                    </defs>
                    <g id="DESKTOP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="assets/ico/Porządek" transform="translate(-14.000000, -8.000000)">
                            <g id="Page-1" transform="translate(14.666667, 7.333333)">
                                <g id="Group-3" transform="translate(0.000000, 14.957683)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M49.0899124,1.92369425 C48.7175187,1.55130051 48.1104659,1.55130051 47.7380721,1.92369425 C47.3631278,2.296088 47.3631278,2.90569145 47.7380721,3.27808519 C52.8087486,8.34876164 55.599151,15.087558 55.599151,22.2574129 C55.599151,29.4272677 52.8087486,36.1686147 47.7380721,41.2367406 C42.6673957,46.307417 35.9260487,49.1003701 28.7561938,49.1003701 C21.5863389,49.1003701 14.8449919,46.307417 9.77431549,41.2367406 C4.70618969,36.1686147 1.91323662,29.4272677 1.91323662,22.2574129 C1.91323662,15.087558 4.70618969,8.34876164 9.77431549,3.27808519 C10.1492599,2.90569145 10.1492599,2.296088 9.77431549,1.92369425 C9.40192175,1.55130051 8.79741958,1.55130051 8.4224752,1.92369425 C2.99215822,7.35656187 0.000255064207,14.5774296 0.000255064207,22.2574129 C0.000255064207,29.9373962 2.99215822,37.1582639 8.4224752,42.5911315 C13.8553428,48.0214485 21.0762105,51.0133516 28.7561938,51.0133516 C36.4387277,51.0133516 43.6595955,48.0214485 49.0899124,42.5911315 C54.5202294,37.1582639 57.5121326,29.9373962 57.5121326,22.2574129 C57.5121326,14.5774296 54.5202294,7.35656187 49.0899124,1.92369425" id="Fill-1" fill="#2F3E4C" mask="url(#mask-2)"></path>
                                </g>
                                <g id="Group-6" transform="translate(13.486544, 0.387164)">
                                    <mask id="mask-4" fill="white">
                                        <use xlink:href="#path-3"></use>
                                    </mask>
                                    <g id="Clip-5"></g>
                                    <path d="M1.78874155,30.0121062 L8.98410284,30.0121062 L8.98410284,39.6764891 L1.78874155,41.0844435 L1.78874155,30.0121062 Z M10.6751785,40.3728143 L10.6751785,30.0121062 L18.7352075,30.0121062 L18.332206,33.498834 C17.0313786,32.0475186 15.9141974,31.0323631 15.8555326,30.9813502 C15.5086453,30.6676212 14.9730104,30.6956783 14.6592815,31.040015 C14.3481031,31.3869023 14.3761602,31.9199865 14.7204969,32.2337155 C15.7535069,33.1672505 16.985467,34.4425715 18.0720406,35.7867599 L16.5110476,49.3791315 L4.11492712,49.3791315 L3.32677872,42.5051511 L9.99160646,41.201773 C10.3895066,41.1227031 10.6751785,40.7758158 10.6751785,40.3728143 Z M19.5386597,37.8119697 C20.4696441,39.2760383 21.0231334,40.6635875 20.7578667,41.6277302 C20.5793217,42.2730427 19.9671676,42.7449115 18.9392589,43.0382353 L19.5386597,37.8119697 Z M0.941928381,42.9540641 C0.998042507,42.9540641 1.05160599,42.9489628 1.10516947,42.9387603 L1.66120945,42.8290827 L2.52077583,50.3203184 C2.56923803,50.7488263 2.9314292,51.0702072 3.35993707,51.0702072 L17.263487,51.0702072 C17.6945455,51.0702072 18.0541861,50.7488263 18.1026483,50.3203184 L18.7352075,44.8262354 C18.7403088,44.8236848 18.7454101,44.8236848 18.7505113,44.8236848 C20.7731705,44.4130314 21.9974787,43.489699 22.3877269,42.0740926 C22.8519438,40.3728143 21.9923774,38.0925403 19.8294329,35.2893847 L20.3268081,30.9634957 L26.3514247,49.1852827 L21.1455643,49.1852827 C20.6787968,49.1852827 20.3013017,49.5627777 20.3013017,50.0320959 C20.3013017,50.4963127 20.6787968,50.8763584 21.1455643,50.8763584 L33.511077,50.8763584 C33.9778445,50.8763584 34.3553396,50.4963127 34.3553396,50.0320959 C34.3553396,49.5627777 33.9778445,49.1852827 33.511077,49.1852827 L28.1317729,49.1852827 L12.289735,1.27657262 C12.1443484,0.835311543 11.6648277,0.593000546 11.2210159,0.738387144 C10.7797549,0.886324384 10.5374439,1.36584509 10.6853811,1.80710617 L19.4519379,28.3235812 L0.941928381,28.3210305 C0.475160882,28.3210305 0.0976658546,28.6985256 0.0976658546,29.1678437 L0.0976658546,42.1098016 C0.0976658546,42.3623152 0.209894106,42.6046262 0.406293546,42.762766 C0.55933207,42.8877474 0.748079584,42.9540641 0.941928381,42.9540641 Z" id="Fill-4" fill="#2F3E4C" mask="url(#mask-4)"></path>
                                </g>
                                <path d="M15.8792773,22.5256929 C16.1777024,22.5256929 16.4200134,22.7680039 16.4200134,23.0664291 C16.4200134,23.3623035 16.1777024,23.6071652 15.8792773,23.6071652 C15.5808522,23.6071652 15.3385412,23.3623035 15.3385412,23.0664291 C15.3385412,22.7680039 15.5808522,22.5256929 15.8792773,22.5256929 M15.8792773,25.2956902 C17.1086868,25.2956902 18.1110891,24.2958385 18.1110891,23.0664291 C18.1110891,21.8344689 17.1086868,20.8346172 15.8792773,20.8346172 C14.6498678,20.8346172 13.6474655,21.8344689 13.6474655,23.0664291 C13.6474655,24.2958385 14.6498678,25.2956902 15.8792773,25.2956902" id="Fill-7" fill="#4487F4"></path>
                                <path d="M22.8659961,18.124305 C23.5699733,18.124305 24.1413171,18.6981994 24.1413171,19.399626 C24.1413171,20.1036032 23.5699733,20.6749471 22.8659961,20.6749471 C22.1645695,20.6749471 21.590675,20.1036032 21.590675,19.399626 C21.590675,18.6981994 22.1645695,18.124305 22.8659961,18.124305 M22.8659961,22.3660228 C24.5035083,22.3660228 25.8323928,21.0371382 25.8323928,19.399626 C25.8323928,17.7646644 24.5035083,16.4357799 22.8659961,16.4357799 C21.2310345,16.4357799 19.8995993,17.7646644 19.8995993,19.399626 C19.8995993,21.0371382 21.2310345,22.3660228 22.8659961,22.3660228" id="Fill-9" fill="#4487F4"></path>
                                <path d="M18.746199,17.7159472 C19.0981876,17.6980927 19.4093659,17.4532311 19.5139423,17.1165463 C19.7383988,16.3819614 18.8966869,15.7468515 18.2488238,16.1600555 C17.9095884,16.3768601 17.7667524,16.8206718 17.9248922,17.1956162 C18.0600763,17.5195477 18.3916597,17.7338017 18.746199,17.7159472" id="Fill-11" fill="#4487F4"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="advantages-box-boldtext">Porządek</p>
                <p class="advantages-box-normaltext">Mimo, że zazwyczaj pracujemy poza godzinami działania obiektów, staramy się trzymać maksymalny porządek wśród maszyn i akcesoriów. Zostawiamy po sobie porządek w miejscu pracy.</p>
            </div>
        </div>
    </div>
    <div class="services-title-gray">
        Pranie wykładzin - cennik


    </div>

    <div class="price-table">
        <div class="row">
            <div class="table-box blue size-1-2"><p class="price-main-text">Łączna powierzchnia [m2]<p></div>
            <div class="table-box blue size-1-2"><p class="price-main-text">Cena [netto]</p></div>
        </div>
        <div class="row">
            <div class="table-box size-1-2"><p class="price-small-text">Poniżej 30 m2</p></div>
            <div class="table-box size-1-2"><p class="price-small-text">250 zł*</p></div>
        </div>
        <div class="row">
            <div class="table-box size-1-2"><p class="price-small-text">Powyżej 30 m2</p></div>
            <div class="table-box size-1-2"><p class="price-small-text">Indywidualna wycena, ceny zaczynają sie od 3,5 zł/m2</p></div>
        </div>

    </div>
    <div class="star">* – minimalny koszt zamówienia</div>
    <div class="star"> Ceny zaczynają się od 3,5 zł/m2.</div>

   

    <div class="range">
        <div class="range-box">
            <div class="range-box-img">
                <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                    <title>ico_2</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="ico_2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M24.1899,3.5413 C29.0139,3.5413 32.9369,7.5803 32.9369,12.5443 C32.9369,17.5093 29.0139,21.5453 24.1899,21.5453 C19.3709,21.5453 15.4469,17.5093 15.4469,12.5443 C15.4469,7.5803 19.3709,3.5413 24.1899,3.5413 M24.1899,24.0833 C18.0359,24.0833 13.0289,18.9093 13.0289,12.5443 C13.0289,6.1773 18.0359,0.9993 24.1899,0.9993 C30.3479,0.9993 35.3549,6.1773 35.3549,12.5443 C35.3549,18.9093 30.3479,24.0833 24.1899,24.0833 Z M6.6821,47.4871 C6.5011,47.4871 6.3381,47.4401 6.1831,47.3691 L7.1801,47.3691 C7.0261,47.4401 6.8621,47.4871 6.6821,47.4871 Z M24.0464,18.3704 C25.6024,18.3704 27.1614,17.7484 28.3484,16.5044 C28.7634,16.0724 28.7634,15.3694 28.3484,14.9294 C27.9344,14.4964 27.2614,14.4964 26.8504,14.9294 C25.3034,16.5524 22.7914,16.5524 21.2414,14.9294 C20.8304,14.4964 20.1584,14.4964 19.7434,14.9294 C19.3314,15.3694 19.3314,16.0724 19.7434,16.5044 C20.9304,17.7484 22.4894,18.3704 24.0464,18.3704 Z M48.8297,29.5736 C50.7227,31.5576 51.7677,34.2076 51.7677,37.0296 C51.7677,39.8446 50.7227,42.4946 48.8297,44.4856 L42.6267,50.9936 C42.3787,51.2546 42.0537,51.3866 41.7257,51.3866 C41.4007,51.3866 41.0767,51.2546 40.8287,50.9936 L37.3717,47.3676 L37.3717,47.3686 L7.1797,47.3686 L6.1827,47.3686 L2.2507,47.3686 C1.5587,47.3686 1.0007,46.7976 1.0007,46.0976 C1.0007,45.3986 1.5587,44.8266 2.2507,44.8266 L5.5407,44.8266 L8.0257,44.8266 L34.9517,44.8266 L34.9507,44.8256 L34.6257,44.4856 C31.3747,41.0686 30.8637,35.8906 33.0147,31.8716 C33.0147,31.8716 33.0147,31.8706 33.0157,31.8696 C30.4667,30.1406 27.4467,29.1076 24.1897,29.1076 C15.6557,29.1076 8.7137,36.0516 8.0257,44.8256 L5.5397,44.8256 C6.2247,34.6466 14.3147,26.5686 24.1897,26.5686 C27.9747,26.5686 31.4967,27.7656 34.4477,29.7996 C34.3037,29.9596 34.3037,29.9596 34.4487,29.8006 C34.5127,29.7266 34.5577,29.6416 34.6257,29.5706 C38.4167,25.5926 45.0417,25.5926 48.8297,29.5736 Z M47.0317,42.5926 C48.4467,41.1126 49.2207,39.1346 49.2207,37.0296 C49.2207,34.9206 48.4467,32.9436 47.0317,31.4626 C45.6167,29.9766 43.7327,29.1546 41.7257,29.1546 C39.7217,29.1546 37.8387,29.9766 36.4237,31.4596 C33.5007,34.5256 33.5007,39.5236 36.4237,42.5956 L41.7257,48.1586 L47.0317,42.5926 Z M41.729,34.8562 C42.607,34.8562 43.321,35.6062 43.321,36.5292 C43.321,37.4552 42.607,38.2022 41.729,38.2022 C40.848,38.2022 40.133,37.4552 40.133,36.5292 C40.133,35.6062 40.848,34.8562 41.729,34.8562 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                    </g>
                </svg>
            </div>
            <div class="range-box-text">

                <div class="range-box-text-services">Dzienna wydajność jaką możemy Państwu zaproponować to około 300 m2. W zależności od ilości i rozmieszczenia pomieszczeń, występujących zabrudzeń oraz rodzaju wykładziny wydajność może ulec zmianie.</div>
            </div>
        </div>
        <div class="range-box">
            <div class="range-box">
                <div class="range-box-img">
                    <svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                        <title>ico_1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="ico_1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M48.9503,29.5999 C50.8493,31.5899 51.9003,34.2499 51.9003,37.0699 C51.9003,39.8899 50.8493,42.5399 48.9603,44.5299 L42.7503,51.0499 C42.5003,51.3099 42.1703,51.4399 41.8493,51.4399 C41.5203,51.4399 41.1903,51.3099 40.9503,51.0499 L38.3893,48.3599 L1.2103,48.3599 C0.5493,48.3599 0.0003,47.7899 0.0003,47.0899 C0.0003,46.3899 0.5493,45.8199 1.2103,45.8199 L5.4603,45.8199 L5.4603,23.7499 C5.4603,23.0499 6.0003,22.4799 6.6703,22.4799 L12.2503,22.4799 L12.2503,3.2599 C12.2503,2.5599 12.7993,1.9999 13.4603,1.9999 L41.7503,1.9999 C42.4203,1.9999 42.9603,2.5599 42.9603,3.2599 L42.9603,26.7199 C45.1793,26.9699 47.3303,27.8999 48.9503,29.5999 Z M47.1503,42.6399 C48.5703,41.1499 49.3493,39.1699 49.3493,37.0699 C49.3493,34.9599 48.5703,32.9799 47.1503,31.4899 C45.7403,30.0099 43.8493,29.1899 41.8493,29.1899 C39.8393,29.1899 37.9603,30.0099 36.5403,31.4899 C35.1203,32.9799 34.3393,34.9599 34.3393,37.0699 C34.3393,39.1699 35.1203,41.1499 36.5403,42.6399 L41.8493,48.2099 L47.1503,42.6399 Z M14.6793,45.8199 L35.9603,45.8199 L34.7403,44.5299 C32.8393,42.5399 31.7993,39.8899 31.7993,37.0699 C31.7993,34.2499 32.8393,31.5899 34.7403,29.5999 C36.3203,27.9399 38.3893,27.0199 40.5403,26.7399 L40.5403,4.5399 L14.6793,4.5399 L14.6793,45.8199 Z M19.8261,16.3957 C19.1561,16.3957 18.6161,15.8277 18.6161,15.1237 C18.6161,14.4237 19.1561,13.8517 19.8261,13.8517 L31.2261,13.8517 C31.8951,13.8517 32.4361,14.4237 32.4361,15.1237 C32.4361,15.8277 31.8951,16.3957 31.2261,16.3957 L19.8261,16.3957 Z M32.4365,24.509 C32.4365,25.213 31.8955,25.781 31.2265,25.781 L19.8265,25.781 C19.1565,25.781 18.6165,25.213 18.6165,24.509 C18.6165,23.809 19.1565,23.24 19.8265,23.24 L31.2265,23.24 C31.8955,23.24 32.4365,23.809 32.4365,24.509 Z M7.8803,45.8199 L12.2503,45.8199 L12.2503,25.0199 L7.8803,25.0199 L7.8803,45.8199 Z M41.8466,34.8957 C42.7256,34.8957 43.4406,35.6467 43.4406,36.5697 C43.4406,37.4937 42.7256,38.2447 41.8466,38.2447 C40.9646,38.2447 40.2506,37.4937 40.2506,36.5697 C40.2506,35.6467 40.9646,34.8957 41.8466,34.8957 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                        </g>
                    </svg>

                </div>
                <div class="range-box-text">

                    <div class="range-box-text-services"> Usługi prania wykładzin dla firm świadczymy na terenie całego województwa mazowieckiego, głównie w Warszawie.</div>
                </div>
            </div>
        </div>
    </div>
</div>