@font-face {
  font-family: Metropolis-regular;
  src: url(../fonts/Metropolis-Regular.otf); }

@font-face {
  font-family: Metropolis-semibold;
  src: url(../fonts/Metropolis-SemiBold.otf); }

@font-face {
  font-family: Metropolis-medium;
  src: url(../fonts/Metropolis-Medium.otf); }

body {
  padding: 0;
  margin: 0;
  height: 100%; }

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%; }
  nav ul a {
    font-size: 15px;
    font-family: Metropolis-regular;
    text-decoration: none; }
    nav ul a:hover {
      text-decoration: none; }

nav li {
  display: inline-block; }

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%; }

#menu-toggle {
  display: none; }

.label-toggle {
  display: none; }

@media screen and (max-width: 768px) {
  nav ul a {
    color: black;
    margin: 0.2em 0;
    z-index: 10; }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    margin-top: -18px;
    width: 100%;
    visibility: hidden; }
  li {
    background-color: white;
    border-bottom: 1px solid #2F3E4C !important;
    color: #2F3E4C !important;
    display: block;
    font-size: 1.5em; }
  #menu-toggle:checked ~ ul {
    z-index: 2;
    margin-left: auto;
    opacity: 1;
    visibility: visible; }
  .label-toggle {
    background: linear-gradient(to bottom, #4487F4 0%, #4487F4 20%, transparent 20%, transparent 40%, #4487F4 40%, #4487F4 60%, transparent 60%, transparent 80%, #4487F4 80%, #4487F4 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px; }
  .wrapper {
    display: block; }
  .button-contact2 {
    font-size: 15px;
    font-family: Metropolis-regular;
    color: black !important;
    border: none !important;
    padding: 10px 20px 10px 20px; } }

.logo {
  margin: 1em 0;
  display: inline-block; }

.button-contact2 {
  font-size: 15px;
  font-family: Metropolis-regular;
  color: #4487F4;
  border: solid 1.5px #4487F4;
  border-radius: 28px;
  padding: 10px 20px 10px 20px; }

.slider {
  display: flex;
  height: 50vh;
  width: 100%;
  background: url(Zdjecia/PhotoDopierzemyTo/slajder_1.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px; }

.slider-leftside {
  width: 100%;
  margin-top: 8vh;
  margin-left: 3vw;
  margin-right: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }

.slider-leftside-text-small {
  font-family: Metropolis-regular;
  color: white;
  font-size: 14px; }

.slider-leftside-text-big {
  font-family: Metropolis-semibold;
  color: white;
  font-size: 37px; }

.slider-leftside-text-big-type {
  font-family: Metropolis-semibold;
  color: white;
  font-size: 37px; }

.slider-leftside-button {
  font-family: Metropolis-medium;
  color: white;
  font-size: 15px;
  padding: 17.5px 17px 17.5px 17px;
  border: none;
  border-radius: 28px;
  background-color: #4487F4; }

.slider-leftside-button:hover {
  text-decoration: none; }

/*.slider-rightside{
  margin-right:5vw;
    display:block;
    height:50vh;
    width:50vw;
          
    background-position:center;
    background-size:cover;
    border-radius:5px;
}*/
.our-services-title {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  font-family: Metropolis-regular;
  font-size: 5vh;
  color: #2F3E4C; }

.our-services {
  margin-top: 5%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.service {
  display: flex;
  height: 300px;
  width: 270px;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around; }

.service-image-left {
  height: 218px;
  width: 118px;
  background-position: center;
  background-size: cover;
  background-image: url(Zdjecia/PhotoDopierzemyTo/v1@1x.png); }

.service-image-right {
  height: 218px;
  width: 118px;
  background-position: center;
  background-size: cover;
  background-image: url(Zdjecia/PhotoDopierzemyTo/v1@1x.png); }

.service-description {
  margin-top: 20%;
  width: 80%;
  text-align: center;
  font-family: Metropolis-semibold;
  font-size: 16px;
  color: #2F3E4C; }

.service-more {
  color: #4487F4;
  margin-top: 20%;
  text-align: center;
  font-family: Metropolis-regular;
  font-size: 15px;
  text-decoration: underline; }

.range {
  margin-top: 5%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(Zdjecia/PhotoDopierzemyTo/sekcja_zasiegu_dzialania.png); }

.range-box {
  display: flex;
  background-color: #4989F4;
  height: 200px;
  width: 500px;
  margin: 50px 0px 50px 0px;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center; }

.range-box-img {
  width: 30%;
  margin-left: 10%; }

.range-box-text {
  color: white;
  width: 80%; }

.range-box-text-semi {
  font-family: Metropolis-semibold;
  font-size: 15px; }

.range-box-text-bold {
  font-family: Metropolis-regular;
  font-size: 15px; }

.three-reasons {
  color: #2F3E4C;
  font-size: 3vw;
  display: flex;
  font-family: Metropolis-regular;
  justify-content: center;
  margin-top: 5%; }

.three-reasons .blue {
  color: #4487F4; }

.three-reasons-boxies {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-around; }

.three-reasons-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 300px; }

.three-reasons-box-bold {
  text-align: center;
  font-size: 16px;
  font-family: Metropolis-semibold;
  font-family: #2F3E4C; }

.three-reasons-box-normal {
  text-align: center;
  font-size: 16px;
  font-family: Metropolis-regular;
  color: #53595F; }

.opinons {
  background-color: #4487F4;
  display: flex;
  height: 400px;
  border-radius: 5px;
  flex-direction: column; }

.opinons-title {
  text-align: center;
  color: white;
  font-family: Metropolis-regular;
  font-size: 33px;
  margin-top: 20%; }

.opinons-boxies {
  margin-top: 20%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around; }

.opinons-persons-box {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.opinons-box {
  height: 300px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 10px 30px 0px rgba(22, 119, 242, 0.2); }

.opinons-quotation {
  margin-top: 15%;
  margin-left: 7%; }

.opinon {
  margin-top: 15%;
  margin-left: 7%;
  margin-right: 10%;
  font-family: Metropolis-regular;
  font-size: 16px;
  color: #53595F; }

.person-right {
  margin-top: auto;
  margin-left: auto;
  align-items: center;
  display: flex; }

.person-left {
  margin-top: auto;
  align-items: center;
  display: flex; }

.person-name {
  font-family: Metropolis-medium;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px; }

.questions {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-family: Metropolis-regular;
  color: #2F3E4C;
  font-size: 33px; }

.questions-tab {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.question {
  width: 90%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #E4E8EB;
  border-radius: 4px; }

.question-mark {
  margin: 10px 10px 10px 10px; }

.question-text {
  font-family: Metropolis-medium;
  font-size: 16px;
  color: #2F3E4C;
  margin: 10px 10px 10px 10px; }

.question-arrow {
  margin-left: auto;
  margin-right: 10px; }

.contact {
  margin-top: 5%;
  background-color: #F5F9FD;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px; }

.contact-title {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #2F3E4C;
  font-family: Metropolis-regular;
  font-size: 33px; }

.contact-boxes-row {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.contact-boxes-row-contact {
  margin-top: 2%;
  width: 60%;
  display: flex;
  justify-content: center; }

.contact-button {
  font-family: Metropolis-medium;
  color: white;
  font-size: 15px;
  padding: 17.5px 60px 17.5px 60px;
  border: none;
  border-radius: 28px;
  background-color: #4487F4; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  box-sizing: border-box;
  color: #ABB0B3;
  font-family: Metropolis-regular;
  font-size: 15px; }

#name {
  margin-right: 2%; }

#mail {
  margin-left: 2%; }

#message {
  height: 150px; }

