<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Itim&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/CustomJavaScripts/custom-js-for-dopierzemyto.js"></script>
    <link rel="stylesheet" href="~/Content/CSSdopierzemyto.min.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2-nSkT9SpjGbsxzhVp2UJXhw9fF-DV8g"></script>
    <script src="~/Scripts/gmap3.min.js"></script>
</head>
<body>

    <nav class="nav">

        <div class="logo-box">
            <a href="~/Home/main">
                <div class="logo">
                    <svg width="185px" height="38px" viewBox="0 0 185 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                        <title>asstes/logo/color_1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="panels/header" transform="translate(-380.000000, -26.000000)">
                                <g id="asstes/logo/color_1">
                                    <g transform="translate(380.000000, 26.000000)">
                                        <g id="Page-1" transform="translate(0.000000, 0.262069)">
                                            <g id="Group-3" fill="#4487F4">
                                                <path d="M18.738305,24.0550745 C21.3254959,24.0550745 23.4228877,21.9430607 23.4228877,19.3378331 L14.0537222,19.3378331 C14.0537222,21.9430607 16.151114,24.0550745 18.738305,24.0550745 M24.9128453,25.5551572 L24.9123248,25.5556814 C21.3379881,29.1549366 15.6464803,29.0042469 12.2647321,25.2204952 L12.2483361,25.2021503 C9.20465856,21.7968262 9.34675757,16.3602055 12.5637646,13.120771 L18.738305,6.90318483 L24.9128453,13.120771 C28.322701,16.5543986 28.322701,22.1212676 24.9128453,25.5551572 M18.738305,2.62068966e-05 C8.38928091,2.62068966e-05 -2.60254597e-05,8.44781931 -2.60254597e-05,18.8689917 C-2.60254597e-05,29.2899021 8.38928091,37.7379572 18.738305,37.7379572 C29.087329,37.7379572 37.4766359,29.2899021 37.4766359,18.8689917 C37.4766359,8.44781931 29.087329,2.62068966e-05 18.738305,2.62068966e-05" id="Fill-1"></path>
                                            </g>
                                            <path d="M128.615297,14.9230979 C129.270358,14.9230979 129.873628,15.0719531 130.424848,15.3694014 C130.975807,15.6673738 131.435156,16.1136772 131.802896,16.7088359 L134.103807,15.3576083 C133.624418,14.3921462 132.908978,13.6520634 131.958788,13.1370979 C131.007818,12.6223945 129.901215,12.3647807 128.639241,12.3647807 C127.297368,12.3647807 126.102539,12.6465048 125.056055,13.209429 C124.009572,13.7728772 123.19055,14.5530566 122.599512,15.550491 C122.008214,16.5481876 121.712825,17.6826841 121.712825,18.9534566 C121.712825,20.224491 122.008214,21.3629186 122.599512,22.3684772 C123.19055,23.3740359 124.013476,24.1584083 125.068027,24.7215945 C126.122839,25.2847807 127.312723,25.5662428 128.639241,25.5662428 C129.8856,25.5662428 130.984135,25.3046979 131.934584,24.7818703 C132.885034,24.2593048 133.608542,23.5147669 134.103807,22.5495669 L131.802896,21.1978152 C131.435156,21.7934979 130.975807,22.2400634 130.424848,22.5372497 C129.873628,22.8352221 129.270358,22.9838152 128.615297,22.9838152 C127.480587,22.9838152 126.549917,22.6179669 125.823026,21.8857462 C125.095874,21.1537876 124.732559,20.1762703 124.732559,18.9534566 C124.732559,17.7309048 125.099778,16.7533876 125.834997,16.0211669 C126.569956,15.2892083 127.496723,14.9230979 128.615297,14.9230979" id="Fill-4" fill="#4487F4"></path>
                                            <polygon id="Fill-6" fill="#4487F4" points="136.093115 25.3971034 139.088905 25.3971034 139.088905 7.48966897 136.093115 7.48966897"></polygon>
                                            <path d="M144.457021,17.9155062 C144.600941,16.9665545 145.004336,16.2062924 145.667465,15.6349821 C146.330073,15.0641959 147.141287,14.7782786 148.100064,14.7782786 C149.074458,14.7782786 149.889315,15.0678648 150.544636,15.6470372 C151.199697,16.2262097 151.59112,16.9828028 151.719165,17.9155062 L144.457021,17.9155062 Z M151.443555,13.1974786 C150.460834,12.6424166 149.346424,12.3648855 148.100064,12.3648855 C146.837569,12.3648855 145.70338,12.6466097 144.696715,13.2092717 C143.690311,13.77272 142.90304,14.5573545 142.336206,15.562651 C141.768591,16.5682097 141.485173,17.6985131 141.485173,18.9532993 C141.485173,20.2245959 141.776398,21.3630234 142.359889,22.3685821 C142.94312,23.3741407 143.769949,24.1585131 144.840636,24.7214372 C145.910803,25.2848855 147.149354,25.5663476 148.55525,25.5663476 C149.657688,25.5663476 150.648217,25.389451 151.527357,25.0351338 C152.405977,24.6816028 153.133128,24.1585131 153.708551,23.466389 L152.10252,21.6080579 C151.191889,22.5415476 150.033236,23.0080303 148.62708,23.0080303 C147.524902,23.0080303 146.602039,22.7304993 145.859272,22.1751752 C145.115985,21.6201131 144.656896,20.8684993 144.481224,19.9187614 L154.523408,19.9187614 C154.555159,19.5324717 154.571035,19.2350234 154.571035,19.0258924 C154.571035,17.7068993 154.295685,16.5440993 153.744466,15.5385407 C153.192987,14.5329821 152.426016,13.7525407 151.443555,13.1974786 Z" id="Fill-8" fill="#4487F4"></path>
                                            <path d="M165.251727,21.8653572 C164.532904,22.6057021 163.622013,22.9757434 162.519575,22.9757434 C161.417136,22.9757434 160.509889,22.6057021 159.799393,21.8653572 C159.088118,21.1257986 158.73287,20.1519503 158.73287,18.9451228 C158.73287,17.7385572 159.088118,16.7652331 159.799393,16.0248883 C160.509889,15.2853297 161.417136,14.9150262 162.519575,14.9150262 C163.622013,14.9150262 164.532904,15.2853297 165.251727,16.0248883 C165.971071,16.7652331 166.330483,17.7385572 166.330483,18.9451228 C166.330483,20.1519503 165.971071,21.1257986 165.251727,21.8653572 Z M166.483512,13.4647366 C166.341153,13.3727503 166.19515,13.283909 166.042901,13.2013572 C165.003965,12.6384331 163.829436,12.356709 162.519575,12.356709 C161.225328,12.356709 160.058867,12.6384331 159.020451,13.2013572 C157.981515,13.7648055 157.170822,14.5449848 156.587852,15.5424193 C156.004361,16.5401159 155.713136,17.6743503 155.713136,18.9451228 C155.713136,20.2164193 156.004361,21.355109 156.587852,22.3604055 C157.170822,23.3659641 157.981515,24.1503366 159.020451,24.7132607 C160.058867,25.276709 161.225328,25.558171 162.519575,25.558171 C163.829436,25.558171 165.003965,25.276709 166.042901,24.7132607 C166.19515,24.630709 166.341153,24.5418676 166.483512,24.4496193 L166.483512,25.4014538 L169.350217,25.4014538 L169.350217,12.5026814 L166.483512,12.5026814 L166.483512,13.4647366 Z" id="Fill-9" fill="#4487F4"></path>
                                            <path d="M183.174212,13.78868 C182.199559,12.8394662 180.905313,12.3648593 179.291734,12.3648593 C178.348832,12.3648593 177.501963,12.5179076 176.751129,12.8232179 C176.000034,13.1290524 175.376724,13.579811 174.88172,14.1749697 L174.88172,12.5097834 L172.02959,12.5097834 L172.02959,25.3970248 L175.02538,25.3970248 L175.02538,18.8809421 C175.02538,17.6261559 175.344713,16.6648869 175.984158,15.9968731 C176.623083,15.3293834 177.494156,14.9952455 178.596594,14.9952455 C179.570987,14.9952455 180.322342,15.2814248 180.849358,15.852211 C181.376634,16.4235214 181.640272,17.2723628 181.640272,18.398211 L181.640272,25.3970248 L184.636322,25.3970248 L184.636322,18.0121834 C184.636322,16.1459903 184.148866,14.7381559 183.174212,13.78868" id="Fill-10" fill="#4487F4"></path>
                                            <path d="M54.7441641,12.3648331 C53.8494088,12.3648331 53.0381952,12.5058262 52.3113041,12.7872883 C51.584413,13.0690124 50.9733352,13.4749572 50.4780707,14.005909 L50.4780707,7.48956414 L47.4822801,7.48956414 L47.4822801,25.3972607 L50.4780707,25.3972607 L50.4780707,18.8809159 C50.4780707,17.6261297 50.7974031,16.6648607 51.4368487,15.9968469 C52.0755134,15.3296193 52.9468458,14.9954814 54.049024,14.9954814 C55.0234173,14.9954814 55.7747723,15.2813986 56.3020481,15.8521848 C56.8293239,16.4234952 57.0929618,17.2723366 57.0929618,18.3981848 L57.0929618,25.3972607 L60.0890127,25.3972607 L60.0890127,18.0121572 C60.0890127,16.1459641 59.6012956,14.7381297 58.6269024,13.7886538 C57.6519887,12.83944 56.3580028,12.3648331 54.7441641,12.3648331" id="Fill-11" fill="#1D1D1B"></path>
                                            <path d="M87.8895389,21.8735338 C87.1785233,22.6138786 86.2717963,22.9836579 85.1690976,22.9836579 C84.4500141,22.9836579 83.8030212,22.8188166 83.2278586,22.4893959 C82.6526959,22.159451 82.1972504,21.6890372 81.8617822,21.0773683 C81.5260537,20.4659614 81.3584498,19.7583752 81.3584498,18.9532993 C81.3584498,18.1492717 81.5260537,17.4414234 81.8617822,16.8297545 C82.1972504,16.2183476 82.6526959,15.7476717 83.2278586,15.4177269 C83.8030212,15.0880441 84.4500141,14.9232028 85.1690976,14.9232028 C86.2717963,14.9232028 87.1785233,15.2932441 87.8895389,16.0330648 C88.6000339,16.7734097 88.9560622,17.7467338 88.9560622,18.9532993 C88.9560622,20.1601269 88.6000339,21.1339752 87.8895389,21.8735338 M88.8483168,13.1854234 C87.8655955,12.6384855 86.750925,12.3648855 85.5045658,12.3648855 C84.625686,12.3648855 83.8230608,12.5179338 83.0961697,12.8232441 C82.3687581,13.1290786 81.7576803,13.5876993 81.2626761,14.1988441 L81.2626761,12.5098097 L78.410546,12.5098097 L78.410546,30.0794372 L81.4063366,30.0794372 L81.4063366,23.8285683 C82.4130014,24.9869131 83.7790778,25.5663476 85.5045658,25.5663476 C86.750925,25.5663476 87.8655955,25.2927476 88.8483168,24.7455476 C89.8307779,24.1988717 90.6013918,23.4223614 91.1609392,22.4168028 C91.7202263,21.4112441 92,20.2568303 92,18.9532993 C92,17.6502924 91.7202263,16.5000717 91.1609392,15.5021131 C90.6013918,14.5046786 89.8307779,13.7326234 88.8483168,13.1854234" id="Fill-12" fill="#1D1D1B"></path>
                                            <path d="M103.630101,21.8735338 C102.919086,22.6138786 102.012098,22.9836579 100.90966,22.9836579 C100.190577,22.9836579 99.5435836,22.8188166 98.9684209,22.4893959 C98.392998,22.159451 97.9378127,21.6890372 97.6023446,21.0773683 C97.2666161,20.4659614 97.0987519,19.7583752 97.0987519,18.9532993 C97.0987519,18.1492717 97.2666161,17.4414234 97.6023446,16.8297545 C97.9378127,16.2183476 98.392998,15.7476717 98.9684209,15.4177269 C99.5435836,15.0880441 100.190577,14.9232028 100.90966,14.9232028 C102.012098,14.9232028 102.919086,15.2932441 103.630101,16.0330648 C104.340596,16.7734097 104.696625,17.7467338 104.696625,18.9532993 C104.696625,20.1601269 104.340596,21.1339752 103.630101,21.8735338 M106.901241,15.5021131 C106.341954,14.5046786 105.57134,13.7326234 104.588879,13.1854234 C103.605898,12.6384855 102.491487,12.3648855 101.245128,12.3648855 C100.366248,12.3648855 99.5633629,12.5179338 98.8364719,12.8232441 C98.1093205,13.1290786 97.4979825,13.5876993 97.0029782,14.1988441 L97.0029782,12.5098097 L94.1508481,12.5098097 L94.1508481,30.0794372 L97.146899,30.0794372 L97.146899,23.8285683 C98.1535638,24.9869131 99.5196402,25.5663476 101.245128,25.5663476 C102.491487,25.5663476 103.605898,25.2927476 104.588879,24.7455476 C105.57134,24.1988717 106.341954,23.4223614 106.901241,22.4168028 C107.460789,21.4112441 107.740302,20.2568303 107.740302,18.9532993 C107.740302,17.6502924 107.460789,16.5000717 106.901241,15.5021131" id="Fill-13" fill="#1D1D1B"></path>
                                            <path d="M118.860851,12.5097048 L114.810509,22.0427255 L110.78411,12.5097048 L107.668081,12.5097048 L113.252625,25.445429 L113.036874,25.9522703 C112.749552,26.5956497 112.433603,27.0540083 112.090067,27.3278703 C111.746271,27.6014703 111.311386,27.7380083 110.78411,27.7380083 C110.384619,27.7380083 109.988772,27.6575531 109.597609,27.4969048 C109.205666,27.3357324 108.866814,27.1187393 108.578973,26.8451393 L107.38076,29.0656497 C107.780251,29.435691 108.291391,29.7250152 108.914701,29.9344083 C109.53775,30.1432772 110.168608,30.2483669 110.808053,30.2483669 C111.942243,30.2483669 112.908828,29.9624497 113.70807,29.3914014 C114.506792,28.820091 115.185536,27.8349738 115.745083,26.4350014 L121.736924,12.5097048 L118.860851,12.5097048 Z" id="Fill-14" fill="#1D1D1B"></path>
                                            <path d="M71.6654235,21.8840428 C70.94634,22.6241255 70.0357092,22.9941669 68.9332707,22.9941669 C67.830572,22.9941669 66.9235847,22.6241255 66.2128294,21.8840428 C65.5018139,21.1442221 65.1465663,20.1706359 65.1465663,18.9635462 C65.1465663,17.7572428 65.5018139,16.7839186 66.2128294,16.0435738 C66.9235847,15.3037531 67.830572,14.9337117 68.9332707,14.9337117 C70.0357092,14.9337117 70.94634,15.3037531 71.6654235,16.0435738 C72.3845069,16.7839186 72.7439185,17.7572428 72.7439185,18.9635462 C72.7439185,20.1706359 72.3845069,21.1442221 71.6654235,21.8840428 Z M72.8972085,13.48316 C72.7548492,13.3914359 72.6088464,13.3025945 72.4565975,13.2197807 C71.4176611,12.6571186 70.2431321,12.3751324 68.9332707,12.3751324 C67.6390246,12.3751324 66.4723033,12.6571186 65.4338874,13.2197807 C64.3949511,13.783229 63.5845182,14.5634083 63.0012877,15.5608428 C62.4177969,16.5585393 62.126572,17.6930359 62.126572,18.9635462 C62.126572,20.2351048 62.4177969,21.3735324 63.0012877,22.379091 C63.5845182,23.3846497 64.3949511,24.1690221 65.4338874,24.7316841 C66.4723033,25.2953945 67.6390246,25.5768566 68.9332707,25.5768566 C70.2431321,25.5768566 71.4176611,25.2953945 72.4565975,24.7316841 C72.6088464,24.6493945 72.7548492,24.5605531 72.8972085,24.4683048 L72.8972085,25.4198772 L75.7639129,25.4198772 L75.7639129,12.5213669 L72.8972085,12.5213669 L72.8972085,13.48316 Z" id="Fill-15" fill="#1D1D1B"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>

            <div class="logo-after">
                Profesjonalna firma sprzątająca
            </div>

        </div>


        <a href="" class="button-uslugi">
            Nasz usługi &nbsp;&nbsp;
            <svg width="11px" height="6px" viewBox="0 0 11 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
                <title>assets/ico/arrow_small</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="panels/header" transform="translate(-1139.000000, -44.000000)" fill="#4487F4">
                        <g id="assets/ico/arrow_small" transform="translate(1139.000000, 39.000000)">
                            <g id="Page-1">
                                <path d="M8.90208153,2.51213203 L2.51213203,8.90208153 C2.39497475,9.01923882 2.39497475,9.20918831 2.51213203,9.3263456 C2.56839295,9.38260651 2.64469912,9.41421356 2.72426407,9.41421356 L9.11421356,9.41421356 C9.27989899,9.41421356 9.41421356,9.27989899 9.41421356,9.11421356 L9.41421356,2.72426407 C9.41421356,2.55857864 9.27989899,2.42426407 9.11421356,2.42426407 C9.03464862,2.42426407 8.95834244,2.45587112 8.90208153,2.51213203 Z" transform="translate(5.707107, 5.707107) rotate(45.000000) translate(-5.707107, -5.707107) "></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>



        <a href="~/Home/cennik" class="button-cennik">Cennik</a>
        <a href="~/Home/kontakt" class="button-contact1">Kontakt</a>
        <a href="" class="button-contact2">+48 662 159 115</a>


        <button class="mobile-icon"><img src="~/Content/Zdjecia/PhotoDopierzemyTo/icons8-menu-filled-50.png" alt="Alternate Text" /></button>

        @*<button  class="mobile-icon">

            </button>*@

    </nav>
    <div class="mobile-menu non-visible">
        <a href="#" class="bold">
            Nasz usługi
        </a>
        <a href="~/Home/wykladziny" class="normal">
            Pranie wykładzin biurowych
        </a>
        <a href="~/Home/polimeryzacja" class="normal">
            Polimeryzacja podłóg typu: PCV i linoleum
        </a>
        <a href="~/Home/kompleksowe" class="normal">
            Kompleksowe utrzymanie czystości
        </a>
        <a href="~/Home/tapicerki" class="normal">
            Pranie dywanów, tapicerki meblowej i samochodowej
        </a>
        <a href="~/Home/cennik" class="bold">
            Cennik
        </a>
        <a href="~/Home/kontakt" class="bold">
            Kontakt
        </a>
        <a href="tel:+48662159115" class="contact">Skontaktuj się</a>
    </div>
    <div class="services-nav non-visible">
        <div class="services-nav-box big">
            Nasze usługi
        </div>
        <div class="services-nav-box small">
            <a href="~/Home/wykladziny" class="normal">
                Pranie wykładzin biurowych
            </a>
            <br />
            <a href="~/Home/polimeryzacja">
                Polimeryzacja podłóg typu: PCV i linoleum
            </a>
        </div>
        <div class="services-nav-box small">
            <a href="~/Home/kompleksowe" class="normal">
                Kompleksowe utrzymanie czystości
            </a>
            <br />
            <a href="~/Home/tapicerki" class="normal">
                Pranie dywanów, tapicerki meblowej i samochodowej
            </a>
        </div>

    </div>

    @*<div class="nav" role="navigation">
            <div class="button-position logo">
                <a href="" class="button-logo">happy</a>

            </div>

        </div>*@

    @RenderBody()

    <div class="footer">
        <div class="footer-box">
            <div class="footer-box-info">
                <div class="footer-box-info-col1">
                    <h2>Dział handlowy</h2>
                    <h1>Artur Rajzyngier</h1>
                    <a class="link-footer" href="#">+48 662 159 115</a>
                    <br>
                    <br>
                    <h2>Dane rejestrowe firmy:</h2>
                    <h1>Happy Clean Artur Rajzyngier</h1>
                    <h1>Dembowskiej 17</h1>
                    <h1>05-882 Milanówek</h1>
                    <h1>NIP: 000 000 0000</h1>
                    <h1>REGON: 000000000</h1>
                    <div class="inline"><h1>E-mail:&nbsp; </h1><a class="link-footer " href="#">biuro@happyclean.pl</a></div>
                </div>
                <div class="footer-box-info-col2">
                    <h2>Nasze usługi</h2>
                    <br>
                    <h1>Pranie dywanów, tapicerki meblowej i samochodowej</h1>
                    <br>
                    <h1>Pranie wykładzin biurowych</h1>
                    <br>
                    <h1>Polimeryzacja podłóg typu: PCV i linoleum</h1>
                    <br>
                    <h1>Doczyszczanie podłóg twardych – gres, płytki</h1>
                </div>
                <div class="footer-box-info-col3">
                    <h2>Cennik</h2>
                    <br>
                    <h2>Regulamin</h2>
                    <br>
                    <h2>Kontakt</h2>
                    <br>
                </div>
            </div>
            <div class="footer-box-logoFB">
                <div class="left">
                    <svg width="185px" height="38px" viewBox="0 0 185 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                        <title>ico_logo_white_v1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="panels/footer_2" transform="translate(-375.000000, -523.000000)" fill="#FFFFFF">
                                <g id="FOOTER">
                                    <g id="1" transform="translate(375.000000, 523.000000)">
                                        <g id="asstes/logo/color_1-copy">
                                            <g id="Page-1" transform="translate(0.000000, 0.262069)">
                                                <g id="Group-3">
                                                    <path d="M18.738305,24.0550745 C21.3254959,24.0550745 23.4228877,21.9430607 23.4228877,19.3378331 L14.0537222,19.3378331 C14.0537222,21.9430607 16.151114,24.0550745 18.738305,24.0550745 M24.9128453,25.5551572 L24.9123248,25.5556814 C21.3379881,29.1549366 15.6464803,29.0042469 12.2647321,25.2204952 L12.2483361,25.2021503 C9.20465856,21.7968262 9.34675757,16.3602055 12.5637646,13.120771 L18.738305,6.90318483 L24.9128453,13.120771 C28.322701,16.5543986 28.322701,22.1212676 24.9128453,25.5551572 M18.738305,2.62068966e-05 C8.38928091,2.62068966e-05 -2.60254597e-05,8.44781931 -2.60254597e-05,18.8689917 C-2.60254597e-05,29.2899021 8.38928091,37.7379572 18.738305,37.7379572 C29.087329,37.7379572 37.4766359,29.2899021 37.4766359,18.8689917 C37.4766359,8.44781931 29.087329,2.62068966e-05 18.738305,2.62068966e-05" id="Fill-1"></path>
                                                </g>
                                                <path d="M128.615297,14.9230979 C129.270358,14.9230979 129.873628,15.0719531 130.424848,15.3694014 C130.975807,15.6673738 131.435156,16.1136772 131.802896,16.7088359 L134.103807,15.3576083 C133.624418,14.3921462 132.908978,13.6520634 131.958788,13.1370979 C131.007818,12.6223945 129.901215,12.3647807 128.639241,12.3647807 C127.297368,12.3647807 126.102539,12.6465048 125.056055,13.209429 C124.009572,13.7728772 123.19055,14.5530566 122.599512,15.550491 C122.008214,16.5481876 121.712825,17.6826841 121.712825,18.9534566 C121.712825,20.224491 122.008214,21.3629186 122.599512,22.3684772 C123.19055,23.3740359 124.013476,24.1584083 125.068027,24.7215945 C126.122839,25.2847807 127.312723,25.5662428 128.639241,25.5662428 C129.8856,25.5662428 130.984135,25.3046979 131.934584,24.7818703 C132.885034,24.2593048 133.608542,23.5147669 134.103807,22.5495669 L131.802896,21.1978152 C131.435156,21.7934979 130.975807,22.2400634 130.424848,22.5372497 C129.873628,22.8352221 129.270358,22.9838152 128.615297,22.9838152 C127.480587,22.9838152 126.549917,22.6179669 125.823026,21.8857462 C125.095874,21.1537876 124.732559,20.1762703 124.732559,18.9534566 C124.732559,17.7309048 125.099778,16.7533876 125.834997,16.0211669 C126.569956,15.2892083 127.496723,14.9230979 128.615297,14.9230979" id="Fill-4"></path>
                                                <polygon id="Fill-6" points="136.093115 25.3971034 139.088905 25.3971034 139.088905 7.48966897 136.093115 7.48966897"></polygon>
                                                <path d="M144.457021,17.9155062 C144.600941,16.9665545 145.004336,16.2062924 145.667465,15.6349821 C146.330073,15.0641959 147.141287,14.7782786 148.100064,14.7782786 C149.074458,14.7782786 149.889315,15.0678648 150.544636,15.6470372 C151.199697,16.2262097 151.59112,16.9828028 151.719165,17.9155062 L144.457021,17.9155062 Z M151.443555,13.1974786 C150.460834,12.6424166 149.346424,12.3648855 148.100064,12.3648855 C146.837569,12.3648855 145.70338,12.6466097 144.696715,13.2092717 C143.690311,13.77272 142.90304,14.5573545 142.336206,15.562651 C141.768591,16.5682097 141.485173,17.6985131 141.485173,18.9532993 C141.485173,20.2245959 141.776398,21.3630234 142.359889,22.3685821 C142.94312,23.3741407 143.769949,24.1585131 144.840636,24.7214372 C145.910803,25.2848855 147.149354,25.5663476 148.55525,25.5663476 C149.657688,25.5663476 150.648217,25.389451 151.527357,25.0351338 C152.405977,24.6816028 153.133128,24.1585131 153.708551,23.466389 L152.10252,21.6080579 C151.191889,22.5415476 150.033236,23.0080303 148.62708,23.0080303 C147.524902,23.0080303 146.602039,22.7304993 145.859272,22.1751752 C145.115985,21.6201131 144.656896,20.8684993 144.481224,19.9187614 L154.523408,19.9187614 C154.555159,19.5324717 154.571035,19.2350234 154.571035,19.0258924 C154.571035,17.7068993 154.295685,16.5440993 153.744466,15.5385407 C153.192987,14.5329821 152.426016,13.7525407 151.443555,13.1974786 Z" id="Fill-8"></path>
                                                <path d="M165.251727,21.8653572 C164.532904,22.6057021 163.622013,22.9757434 162.519575,22.9757434 C161.417136,22.9757434 160.509889,22.6057021 159.799393,21.8653572 C159.088118,21.1257986 158.73287,20.1519503 158.73287,18.9451228 C158.73287,17.7385572 159.088118,16.7652331 159.799393,16.0248883 C160.509889,15.2853297 161.417136,14.9150262 162.519575,14.9150262 C163.622013,14.9150262 164.532904,15.2853297 165.251727,16.0248883 C165.971071,16.7652331 166.330483,17.7385572 166.330483,18.9451228 C166.330483,20.1519503 165.971071,21.1257986 165.251727,21.8653572 Z M166.483512,13.4647366 C166.341153,13.3727503 166.19515,13.283909 166.042901,13.2013572 C165.003965,12.6384331 163.829436,12.356709 162.519575,12.356709 C161.225328,12.356709 160.058867,12.6384331 159.020451,13.2013572 C157.981515,13.7648055 157.170822,14.5449848 156.587852,15.5424193 C156.004361,16.5401159 155.713136,17.6743503 155.713136,18.9451228 C155.713136,20.2164193 156.004361,21.355109 156.587852,22.3604055 C157.170822,23.3659641 157.981515,24.1503366 159.020451,24.7132607 C160.058867,25.276709 161.225328,25.558171 162.519575,25.558171 C163.829436,25.558171 165.003965,25.276709 166.042901,24.7132607 C166.19515,24.630709 166.341153,24.5418676 166.483512,24.4496193 L166.483512,25.4014538 L169.350217,25.4014538 L169.350217,12.5026814 L166.483512,12.5026814 L166.483512,13.4647366 Z" id="Fill-9"></path>
                                                <path d="M183.174212,13.78868 C182.199559,12.8394662 180.905313,12.3648593 179.291734,12.3648593 C178.348832,12.3648593 177.501963,12.5179076 176.751129,12.8232179 C176.000034,13.1290524 175.376724,13.579811 174.88172,14.1749697 L174.88172,12.5097834 L172.02959,12.5097834 L172.02959,25.3970248 L175.02538,25.3970248 L175.02538,18.8809421 C175.02538,17.6261559 175.344713,16.6648869 175.984158,15.9968731 C176.623083,15.3293834 177.494156,14.9952455 178.596594,14.9952455 C179.570987,14.9952455 180.322342,15.2814248 180.849358,15.852211 C181.376634,16.4235214 181.640272,17.2723628 181.640272,18.398211 L181.640272,25.3970248 L184.636322,25.3970248 L184.636322,18.0121834 C184.636322,16.1459903 184.148866,14.7381559 183.174212,13.78868" id="Fill-10"></path>
                                                <path d="M54.7441641,12.3648331 C53.8494088,12.3648331 53.0381952,12.5058262 52.3113041,12.7872883 C51.584413,13.0690124 50.9733352,13.4749572 50.4780707,14.005909 L50.4780707,7.48956414 L47.4822801,7.48956414 L47.4822801,25.3972607 L50.4780707,25.3972607 L50.4780707,18.8809159 C50.4780707,17.6261297 50.7974031,16.6648607 51.4368487,15.9968469 C52.0755134,15.3296193 52.9468458,14.9954814 54.049024,14.9954814 C55.0234173,14.9954814 55.7747723,15.2813986 56.3020481,15.8521848 C56.8293239,16.4234952 57.0929618,17.2723366 57.0929618,18.3981848 L57.0929618,25.3972607 L60.0890127,25.3972607 L60.0890127,18.0121572 C60.0890127,16.1459641 59.6012956,14.7381297 58.6269024,13.7886538 C57.6519887,12.83944 56.3580028,12.3648331 54.7441641,12.3648331" id="Fill-11"></path>
                                                <path d="M87.8895389,21.8735338 C87.1785233,22.6138786 86.2717963,22.9836579 85.1690976,22.9836579 C84.4500141,22.9836579 83.8030212,22.8188166 83.2278586,22.4893959 C82.6526959,22.159451 82.1972504,21.6890372 81.8617822,21.0773683 C81.5260537,20.4659614 81.3584498,19.7583752 81.3584498,18.9532993 C81.3584498,18.1492717 81.5260537,17.4414234 81.8617822,16.8297545 C82.1972504,16.2183476 82.6526959,15.7476717 83.2278586,15.4177269 C83.8030212,15.0880441 84.4500141,14.9232028 85.1690976,14.9232028 C86.2717963,14.9232028 87.1785233,15.2932441 87.8895389,16.0330648 C88.6000339,16.7734097 88.9560622,17.7467338 88.9560622,18.9532993 C88.9560622,20.1601269 88.6000339,21.1339752 87.8895389,21.8735338 M88.8483168,13.1854234 C87.8655955,12.6384855 86.750925,12.3648855 85.5045658,12.3648855 C84.625686,12.3648855 83.8230608,12.5179338 83.0961697,12.8232441 C82.3687581,13.1290786 81.7576803,13.5876993 81.2626761,14.1988441 L81.2626761,12.5098097 L78.410546,12.5098097 L78.410546,30.0794372 L81.4063366,30.0794372 L81.4063366,23.8285683 C82.4130014,24.9869131 83.7790778,25.5663476 85.5045658,25.5663476 C86.750925,25.5663476 87.8655955,25.2927476 88.8483168,24.7455476 C89.8307779,24.1988717 90.6013918,23.4223614 91.1609392,22.4168028 C91.7202263,21.4112441 92,20.2568303 92,18.9532993 C92,17.6502924 91.7202263,16.5000717 91.1609392,15.5021131 C90.6013918,14.5046786 89.8307779,13.7326234 88.8483168,13.1854234" id="Fill-12"></path>
                                                <path d="M103.630101,21.8735338 C102.919086,22.6138786 102.012098,22.9836579 100.90966,22.9836579 C100.190577,22.9836579 99.5435836,22.8188166 98.9684209,22.4893959 C98.392998,22.159451 97.9378127,21.6890372 97.6023446,21.0773683 C97.2666161,20.4659614 97.0987519,19.7583752 97.0987519,18.9532993 C97.0987519,18.1492717 97.2666161,17.4414234 97.6023446,16.8297545 C97.9378127,16.2183476 98.392998,15.7476717 98.9684209,15.4177269 C99.5435836,15.0880441 100.190577,14.9232028 100.90966,14.9232028 C102.012098,14.9232028 102.919086,15.2932441 103.630101,16.0330648 C104.340596,16.7734097 104.696625,17.7467338 104.696625,18.9532993 C104.696625,20.1601269 104.340596,21.1339752 103.630101,21.8735338 M106.901241,15.5021131 C106.341954,14.5046786 105.57134,13.7326234 104.588879,13.1854234 C103.605898,12.6384855 102.491487,12.3648855 101.245128,12.3648855 C100.366248,12.3648855 99.5633629,12.5179338 98.8364719,12.8232441 C98.1093205,13.1290786 97.4979825,13.5876993 97.0029782,14.1988441 L97.0029782,12.5098097 L94.1508481,12.5098097 L94.1508481,30.0794372 L97.146899,30.0794372 L97.146899,23.8285683 C98.1535638,24.9869131 99.5196402,25.5663476 101.245128,25.5663476 C102.491487,25.5663476 103.605898,25.2927476 104.588879,24.7455476 C105.57134,24.1988717 106.341954,23.4223614 106.901241,22.4168028 C107.460789,21.4112441 107.740302,20.2568303 107.740302,18.9532993 C107.740302,17.6502924 107.460789,16.5000717 106.901241,15.5021131" id="Fill-13"></path>
                                                <path d="M118.860851,12.5097048 L114.810509,22.0427255 L110.78411,12.5097048 L107.668081,12.5097048 L113.252625,25.445429 L113.036874,25.9522703 C112.749552,26.5956497 112.433603,27.0540083 112.090067,27.3278703 C111.746271,27.6014703 111.311386,27.7380083 110.78411,27.7380083 C110.384619,27.7380083 109.988772,27.6575531 109.597609,27.4969048 C109.205666,27.3357324 108.866814,27.1187393 108.578973,26.8451393 L107.38076,29.0656497 C107.780251,29.435691 108.291391,29.7250152 108.914701,29.9344083 C109.53775,30.1432772 110.168608,30.2483669 110.808053,30.2483669 C111.942243,30.2483669 112.908828,29.9624497 113.70807,29.3914014 C114.506792,28.820091 115.185536,27.8349738 115.745083,26.4350014 L121.736924,12.5097048 L118.860851,12.5097048 Z" id="Fill-14"></path>
                                                <path d="M71.6654235,21.8840428 C70.94634,22.6241255 70.0357092,22.9941669 68.9332707,22.9941669 C67.830572,22.9941669 66.9235847,22.6241255 66.2128294,21.8840428 C65.5018139,21.1442221 65.1465663,20.1706359 65.1465663,18.9635462 C65.1465663,17.7572428 65.5018139,16.7839186 66.2128294,16.0435738 C66.9235847,15.3037531 67.830572,14.9337117 68.9332707,14.9337117 C70.0357092,14.9337117 70.94634,15.3037531 71.6654235,16.0435738 C72.3845069,16.7839186 72.7439185,17.7572428 72.7439185,18.9635462 C72.7439185,20.1706359 72.3845069,21.1442221 71.6654235,21.8840428 Z M72.8972085,13.48316 C72.7548492,13.3914359 72.6088464,13.3025945 72.4565975,13.2197807 C71.4176611,12.6571186 70.2431321,12.3751324 68.9332707,12.3751324 C67.6390246,12.3751324 66.4723033,12.6571186 65.4338874,13.2197807 C64.3949511,13.783229 63.5845182,14.5634083 63.0012877,15.5608428 C62.4177969,16.5585393 62.126572,17.6930359 62.126572,18.9635462 C62.126572,20.2351048 62.4177969,21.3735324 63.0012877,22.379091 C63.5845182,23.3846497 64.3949511,24.1690221 65.4338874,24.7316841 C66.4723033,25.2953945 67.6390246,25.5768566 68.9332707,25.5768566 C70.2431321,25.5768566 71.4176611,25.2953945 72.4565975,24.7316841 C72.6088464,24.6493945 72.7548492,24.5605531 72.8972085,24.4683048 L72.8972085,25.4198772 L75.7639129,25.4198772 L75.7639129,12.5213669 L72.8972085,12.5213669 L72.8972085,13.48316 Z" id="Fill-15"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3>© 2018 Happy Clean</h3>
                </div>

                <div class="right">
                    <h3>Portale społecznościowe:</h3>

                    <svg width="27px" height="27px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                        <title>ico_facebook_white_v1</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="panels/footer_2" transform="translate(-1517.000000, -529.000000)" fill="#FFFFFF">
                                <g id="FOOTER">
                                    <g id="1" transform="translate(375.000000, 523.000000)">
                                        <g id="assets/ico/social_media/facebook_v2" transform="translate(1142.000000, 6.000000)">
                                            <g id="FACEBOOK">
                                                <path d="M16.857327,13.9749864 L14.6609804,13.9749864 L14.6609804,21.8031539 L11.4064287,21.8031539 L11.4064287,13.9749864 L9.85936115,13.9749864 L9.85936115,11.2082654 L11.4064287,11.2082654 L11.4064287,9.41870582 C11.4064287,8.137031 12.0154677,6.13431213 14.6908886,6.13431213 L17.1025739,6.14355628 L17.1025739,8.82925503 L15.3521308,8.82925503 C15.0671876,8.82925503 14.662068,8.97172376 14.662068,9.5829255 L14.662068,11.2088091 L17.1417264,11.2088091 L16.857327,13.9749864 Z M13.5,0 C6.05613067,0 0,6.0560087 0,13.4997281 C0,20.9429038 6.05613067,27 13.5,27 C20.9433255,27 27,20.9429038 27,13.4997281 C27,6.0560087 20.9444131,0 13.5,0 Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    @*<div class="our-services-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem.
        </div>*@
</body>
</html>